.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-1c {
	font-size:(243.72/10)*1rem;
	width:(500/243.72)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-close {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-close-basket {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-fb {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-flag {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-inst {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-long-arrow-alt-left {
	font-size:(14/10)*1rem;
	width:(31/14)*1em;
}
.icon-long-arrow-alt-right {
	font-size:(14/10)*1rem;
	width:(31/14)*1em;
}
.icon-mail {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m1 {
	font-size:(401.6/10)*1rem;
	width:(401.601/401.6)*1em;
}
.icon-mob-m10 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m11 {
	font-size:(25.81/10)*1rem;
	width:(25.81/25.81)*1em;
}
.icon-mob-m12 {
	font-size:(420/10)*1rem;
	width:(420/420)*1em;
}
.icon-mob-m13 {
	font-size:(215.06/10)*1rem;
	width:(215.06/215.06)*1em;
}
.icon-mob-m14 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m15 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m2 {
	font-size:(490/10)*1rem;
	width:(490/490)*1em;
}
.icon-mob-m3 {
	font-size:(483.69/10)*1rem;
	width:(483.69/483.69)*1em;
}
.icon-mob-m4 {
	font-size:(349.67/10)*1rem;
	width:(349.67/349.67)*1em;
}
.icon-mob-m5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m6 {
	font-size:(291.734/10)*1rem;
	width:(291.734/291.734)*1em;
}
.icon-mob-m7 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m8 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mob-m9 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mouse {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone-receiver {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-play {
	font-size:(93/10)*1rem;
	width:(133/93)*1em;
}
.icon-program-i-1 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-program-i-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-program-i-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-program-i-4 {
	font-size:(500/10)*1rem;
	width:(499.02/500)*1em;
}
.icon-program-i-5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-program-i-6 {
	font-size:(500/10)*1rem;
	width:(499.02/500)*1em;
}
.icon-program-i-7 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-program-i-8 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-1 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-4 {
	font-size:(391.2/10)*1rem;
	width:(391.2/391.2)*1em;
}
.icon-s-competences-5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-6 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-7 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-8 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-competences-9 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-digilization-1 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-digilization-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-digilization-3 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-digilization-4 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-why-1 {
	font-size:(496.36/10)*1rem;
	width:(500/496.36)*1em;
}
.icon-s-why-2 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-s-why-3 {
	font-size:(500/10)*1rem;
	width:(292.9/500)*1em;
}
.icon-s-why-4 {
	font-size:(479.92/10)*1rem;
	width:(500/479.92)*1em;
}
.icon-s-why-5 {
	font-size:(500/10)*1rem;
	width:(430.44/500)*1em;
}
.icon-s-why-6 {
	font-size:(500/10)*1rem;
	width:(499.53/500)*1em;
}
.icon-safe-shield-protection {
	font-size:(304.8/10)*1rem;
	width:(304.8/304.8)*1em;
}
.icon-search {
	font-size:(56.97/10)*1rem;
	width:(56.97/56.97)*1em;
}
.icon-search-line-basket {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-shopping {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-slider-next {
	font-size:(15/10)*1rem;
	width:(9/15)*1em;
}
.icon-slider-prev {
	font-size:(15/10)*1rem;
	width:(9/15)*1em;
}
.icon-top-nav-arrow {
	font-size:(7/10)*1rem;
	width:(12/7)*1em;
}
.icon-user {
	font-size:(409.2/10)*1rem;
	width:(409.2/409.2)*1em;
}
.icon-vk {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-youtube {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
