mixin s-fresh()
	// start s-fresh
	+b.SECTION.s-fresh.section#s-fresh&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Выберите программу в&nbsp;
					span.text-primary 1С:Фреш 
			.row
				mixin item(i,t,p)
					.col-lg-6
						+e.item
							+e.img-wrap
								img.res-i.lazy(src="#" data-src=`img/@2x/frash-i-${i}.png`, alt="")
							+e.text-block
								+e.title
									a(href="#")= t
								p= p
								+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title=`Рассчитать тариф ` data-order=`Рассчитать тариф ${t}`   data-btn=`Рассчитать тариф ` class="wow fadeInUp",  )  Рассчитать тариф
				-
					var nav= {
						'1C:Бухгалтерия':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1С:Предприниматель':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1C:Управление нашей фирмой':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1С:Зарплата и управление персоналом':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1C:CRM':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1C:Бухгалтерия КОРП':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1C:Бухгалтерия СПЕЦ':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1С-КАМИН:Зарплата':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН), любой вид деятельности.',
						'1С-КАМИН: Зарплата для бюджетных учреждений':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения (ОСНО, ЕНВД, УСН).',
						'1С:Бухгалтерия государственного учреждения':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения.',
						'1С:Зарплата и кадры государственного учреждения':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения.',
						'1С:Мониторинг движения лекарственных препаратов':'Бухгалтерский и налоговый учет, сдача отчетности через Интернет - для ИП и организаций: все участки учета, любая система налогооблажения.',
					}
				each linkName, text in nav
					+item(Object.keys(nav).indexOf(text) + 1, text, linkName)
	// end s-fresh