mixin s-about()
	// start s-about
	+b.s-about.section.lazy-background#s-about&attributes(attributes)
		.container
			+e.inner
				block
				+pic("logo-about","png",'','',0)
				+e.title Команда экспертов в&nbsp;сфере автоматизации бизнеса.
			.row
				.col-lg-6
					+e.lg.text-lg-left.text-center  We&nbsp;are focused on your most important step... 
						| 
						| 
						span.text-primary the next one.
				.col
					p Есть много вариантов Lorem Ipsum, но&nbsp;большинство из&nbsp;них имеет не&nbsp;всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не&nbsp;напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы&nbsp;наверняка не&nbsp;хотите какой-нибудь шутки, скрытой в&nbsp;середине абзаца.
					p Также все другие известные генераторы Lorem Ipsum используют один и&nbsp;тот&nbsp;же текст, который они просто повторяют, пока не&nbsp;достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он&nbsp;использует словарь из&nbsp;более чем 200 латинских слов, а&nbsp;также набор моделей предложений.
	// end s-about