mixin s-artical-head()
	// start s-artical-head
	+b.SECTION.s-artical-head.section.bg-wrap#s-artical-head&attributes(attributes)
		+pic2("artical-bg")(class="picture-bg")
		.container
			block
			h1 Как подобрать эквайринг для своего бизнеса
			p Понятная и&nbsp;прозрачная методология, в&nbsp;основе которой лежит активный клиентский портфель агентства. Рейтинги помогают в&nbsp;выборе ведущих веб-студий, мобильных разработчиков, 
				| 
				br
				| SEO-компаний и&nbsp;агентств контекстной рекламы.
			+e.labels.row
				.col-sm-auto
					+e.label  Программы 1С
				.col-auto 2 феврая 2020
				.col-auto
					+icon("comment")
					| 7
	// end s-artical-head