.modal-win {
	display: block;
	position: relative;
	background-color: #ffffff;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	ul{
		list-style-type: none;
		margin-bottom: 0;
		margin-top: 10px;
		text-align: left;
	}
	li{
		position: relative;
		padding-left: 20px;
		margin-bottom: em(10);

		max-width: 410px;
		line-height: 1.4;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: em(8);
			width: 5px;
			height: 5px;
			background-color: $danger;
			border-radius: 50%;
		}
	}
	input{
		text-align: center;
	}
	// text-align: center;
	@include media-breakpoint-up(sm) {

		padding: rem(80px) rem(60px) rem(70px);
	}
	padding: rem(80px) rem(20px) rem(70px);
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

}

a {
	outline: 0 !important;
}
 
.politic{
	text-align: center;
}
.polite {
	text-align: center;
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;
		:hover {
			display: none;
		}
	}
}
#thanks{
	padding-bottom: rem(40px);
}
button.mfp-close,
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
	width: rem(70px);
	height: rem(70px); 
	right: 0;
	top: 0 !important;
	text-align: center;
	color: transparent !important;
	// font-size: 40px;
	opacity: 1;
	background-repeat: no-repeat;
	outline: none !important;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='23' height='23' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 23 23'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EФигура 709 копия%3C/title%3E%3Cpath d='M22.29301,-0.01215l0.71686,0.71692l-10.79319,10.79302l10.79319,10.79327l-0.71686,0.71641l-10.79309,-10.79292l-10.79309,10.79292l-0.71686,-0.71641l10.79319,-10.79327l-10.79319,-10.79302l0.71686,-0.71692l10.79309,10.79317z' fill='%23f2c144' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M22.29301,-0.01215l0.71686,0.71692l-10.79319,10.79302l10.79319,10.79327l-0.71686,0.71641l-10.79309,-10.79292l-10.79309,10.79292l-0.71686,-0.71641l10.79319,-10.79327l-10.79319,-10.79302l0.71686,-0.71692l10.79309,10.79317z' fill='%23c1c3c6' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-position: center center;
	background-repeat: no-repeat;
	@include mt;
	// @extend .btn-primary;
	// background-color: #f3f3f3;
	&:hover{
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='SVGDoc' width='23' height='23' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:avocode='https://avocode.com/' viewBox='0 0 23 23'%3E%3Cdefs%3E%3C/defs%3E%3Cdesc%3EGenerated with Avocode.%3C/desc%3E%3Cg%3E%3Cg%3E%3Ctitle%3EФигура 709 копия%3C/title%3E%3Cpath d='M22.29301,-0.01215l0.71686,0.71692l-10.79319,10.79302l10.79319,10.79327l-0.71686,0.71641l-10.79309,-10.79292l-10.79309,10.79292l-0.71686,-0.71641l10.79319,-10.79327l-10.79319,-10.79302l0.71686,-0.71692l10.79309,10.79317z' fill='%23f2c144' fill-opacity='1'%3E%3C/path%3E%3Cpath d='M22.29301,-0.01215l0.71686,0.71692l-10.79319,10.79302l10.79319,10.79327l-0.71686,0.71641l-10.79309,-10.79292l-10.79309,10.79292l-0.71686,-0.71641l10.79319,-10.79327l-10.79319,-10.79302l0.71686,-0.71692l10.79309,10.79317z' fill='%23db1e32' fill-opacity='1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}   
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}


.politic{
	font-size: 1em;
	font-size: 12px;
	// color: $gray;
	margin-top: em(20);
}

.modal-team{
	max-width: 1070px;
	

	@include media-breakpoint-up(lg) {

		padding: rem(80) rem(90);
	}
	@include media-breakpoint-up(sm) {

		padding: rem(80) rem(20);
	}
	&__small-text{
		color: #6f7378;
		margin-bottom: 1em;
	}

	&__logo{
		// display: flex;
		display: inline-flex;
		text-align: left;
		z-index: 2;
		margin-bottom: 1em;
		// line-height: 1.2;
		// position: absolute; 
		font-size: $small;
		max-width: em(350);
		line-height: 1.2;
		.icon{
			margin-right: rem(10);
			font-size: rem(28);
			color: $primary;
		}
	}
		 &__btn{
			 width: rem(260);
		 }
		 picture{
			 max-width: rem(348);
			 background-color: $light;
		 }
		 p{
			 font-size: rem(16);
		 }
}