//- include ../mixin-wrap/mixin-wrap.pug
//- include ../form-wrap/form-wrap.pug
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 



	+form-wrap()(id="modal-call" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		.text-center
			+e.title--js 
			+e.title-sub--js 
		input.order(type="hidden")
		+input("text","name","Введите имя")
		+input("tel","tel","Введите телефон")( required)
		+input("email","email","Ваш e-mail")
			
		+e.btn(type="submit")
		+polite
	// #modal-call
	
	
	+b.order-modal(id="order" class="zoom-anim-dialog mfp-hide modal-win modal-form")
		+e.modal-title Товар добавлен в корзину
		+e.body
			.row
				.col-auto.d-flex.align-items-center
					img(src="img/order-img.jpg" alt="")
				.col
					+e.title
						span 1С:Бухгалтерия государственного учреждения 8 ПРОФ (USB)
					+e.art Артикул: 4601546041654
					+e.price Цена:
						+e.price-block 16 200
							span.i-font o
		+e.footer
			.row
				.col-12.col-sm-auto
					+e.btn.btn-primary( href="#order-thanks") оформить заказ
				.col-12.col-sm
					+e.info Мы свяжемся с Вами в течение часа после оформления заказа.

	// #modal-call


	+b.order-modal.arend-modal(id="arend" class="zoom-anim-dialog mfp-hide modal-win modal-form")
		+e.modal-title.text-center Арендовать
		+e.body
			.row
				.col-auto.d-flex.align-items-center
					img(src="img/order-img.jpg" alt="")
				.col
					+e.title
						span 1С:Бухгалтерия государственного учреждения 8 ПРОФ
					+e.art Артикул: 4601546041654
					+e.price Цена:
						+e.price-block.bg-light от 1 200
							span.i-font o
							|/мес.
		+e.footer.text-center
			+form-wrap
				+e.modal-title Заполните форму и мы свяжемся с Вами в&nbsp;течение рабочего дня.
				+input("text","name","Ваше имя")
				+input("tel","tel","Ваш телефон")( required)
				+input("email","email","Ваш e-mail")
				+e.btn.btn-primary(type="submit" href="#arend-thanks") отправить заявку
				+polite
			//- .row
			//- 	.col-12.col-sm-auto
			//- 	.col-12.col-sm
			//- 		+e.info Мы свяжемся с Вами в течение часа после оформления заказа.

	// #modal-call
	
	
	+b.order-modal.arend-modal(id="one-click" class="zoom-anim-dialog mfp-hide modal-win modal-form")
		+e.modal-title.text-center Купить в один клик
		+e.body
			.row
				.col-auto.d-flex.align-items-center
					img(src="img/order-img.jpg" alt="")
				.col
					+e.title
						span 1С:Бухгалтерия государственного учреждения 8 ПРОФ
					+e.art Артикул: 4601546041654
					+e.price Цена:
						+e.price-block 16 200
							span.i-font o
		+e.footer.text-center
			+form-wrap
				+e.modal-title Заполните форму и мы свяжемся с Вами в&nbsp;течение рабочего дня.
				+input("text","name","Ваше имя")
				+input("tel","tel","Ваш телефон")( required)
				+input("email","email","Ваш e-mail")
				+e.btn.btn-primary(type="submit" href="#arend-thanks") оформить заказ
				+polite
			//- .row
			//- 	.col-12.col-sm-auto
			//- 	.col-12.col-sm
			//- 		+e.info Мы свяжемся с Вами в течение часа после оформления заказа.

	// #modal-call


	+b.order-modal.arend-modal(id="basket-modal" class="zoom-anim-dialog mfp-hide modal-win modal-form")
		+e.modal-title.text-center Оформить заказ
			+e.modal-subtitle.text-center Заполните форму и мы свяжемся с Вами в течение 20 минут.
		+e.footer.text-center
			+form-wrap
				+input("text","name","Ваше имя")
				+input("tel","tel","Ваш телефон")( required)
				+e.btn.btn-primary(type="submit" href="#arend-thanks") отправить заявку
				+polite
			//- .row
			//- 	.col-12.col-sm-auto
			//- 	.col-12.col-sm
			//- 		+e.info Мы свяжемся с Вами в течение часа после оформления заказа.

	// #modal-call
	
 
	 
	+b.form-wrap(id="thanks" class="zoom-anim-dialog mfp-hide modal-win modal-form text-center" )
		+e.title Спасибо за обращение!
		+e.title-sub Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей
	// modal


	+b.form-wrap(id="order-thanks" class="zoom-anim-dialog mfp-hide modal-win modal-form text-center" )
		+e.title Спасибо за обращение!
		+e.title-sub Мы свяжемся с Вами в течение&nbsp;часа и&nbsp;проконсультируем по любому вопросу.
	// modal


	+b.form-wrap(id="arend-thanks" class="zoom-anim-dialog mfp-hide modal-win modal-form text-center" )
		+e.title Спасибо за обращение!
		+e.title-sub Мы свяжемся с Вами в течение рабочего дня.
	// modal


	+b.modal-team(id="modal-team" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg " )
		.row
			.col-xxl-6.col-sm-5
				.row.row--sm.align-items-center
					.col-auto.col-sm
							picture 
								img(src="#" alt="")
					.col.d-sm-none
						h3 #
						+e.small-text 
						+e.logo
							+icon('1c')
							| Сертифицированные партнеры 1С
				
			.col
				.d-none.d-sm-block
				
					h3 #
					+e.small-text 
					+e.logo
						+icon('1c')
						| Сертифицированные партнеры 1С
				p   
				+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="Обсудить проект"  data-btn="Обсудить проект") обсудить проект 
	// #modal-team

	+b.modal-map(id="modal-map" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg " ) 
		+map()
	// #modal-map