//- include ../mixin-wrap/mixin-wrap.pug
//- include ../form-wrap/form-wrap.pug
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 



	+form-wrap()(id="modal-call" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		.text-center
			+e.title--js 
			+e.title-sub--js 
		input.order(type="hidden")
		+input("text","name","Введите имя")
		+input("tel","tel","Введите телефон")( required)
		+input("email","email","Ваш e-mail")
			
		+e.btn(type="submit")
		+polite
	// #modal-call
	
 
	 
	+b.form-wrap(id="thanks" class="zoom-anim-dialog mfp-hide modal-win modal-form text-center" )
		+e.title Спасибо за обращение!
		+e.title-sub Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей
	// modal


	+b.modal-team(id="modal-team" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg " )
		.row
			.col-xxl-6.col-sm-5
				.row.row--sm.align-items-center
					.col-auto.col-sm
							picture 
								img(src="#" alt="")
					.col.d-sm-none
						h3 #
						+e.small-text 
						+e.logo
							+icon('1c')
							| Сертифицированные партнеры 1С
				
			.col
				.d-none.d-sm-block
				
					h3 #
					+e.small-text 
					+e.logo
						+icon('1c')
						| Сертифицированные партнеры 1С
				p   
				+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="Обсудить проект"  data-btn="Обсудить проект") обсудить проект 
	// #modal-team

	+b.modal-map(id="modal-map" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg " ) 
		+map()
	// #modal-map