mixin s-header-rent()
	// start s-header-rent
	+b.SECTION.s-header-rent.lazy-background#s-header-rent.bg-wrap&attributes(attributes)
		//- +pic2("rent-bg.jpg",'bg')(class="picture-bg")
		picture.lazy.picture-bg
			source(srcset='#', data-srcset='img/@2x/rent-bg.jpg', type='image/jpg', media='(min-width:576px)')
			source(srcset='#', data-srcset='img/@2x/rent-bg-mobile.jpg', type='image/jpg')
			img.object-fit-js(src='#', data-src='img/@2x/rent-bg.jpg', alt='')
		
		.container
			+e.inner
				h1 1C&nbsp;в облаке&nbsp;&mdash; быстрый старт для вашего бизнеса
				+e.sub-title Начните пользоваться 1С&nbsp;уже сегодня бесплатно на&nbsp;30&nbsp;дней
				ul
					li Быстрый старт 
						br
						| за&nbsp;1&nbsp;минуту
					li Привычный интерфейс 1С
						br
						|  теперь и&nbsp;в&nbsp;браузере
					li Доступ к&nbsp;сервисам
						br
						|  1С:ИТС
				+e.btn.popup-with-move-anim(href="#modal-rent2"  data-title="Попробовать 30 дней бесплатно" data-order="Попробовать 30 дней бесплатно"   data-btn="Попробовать 30 дней бесплатно") 
					span
					| Попробовать 30 дней бесплатно
				+e.more.more-js
					+icon("arrow-down")
					|  Подробнее
	// end s-header-rent

mixin s-header-rent16()
	// start s-header-rent
	+b.SECTION.s-header-rent.lazy-background#s-header-rent.bg-wrap&attributes(attributes)
		//- +pic2("rent-bg.jpg",'bg')(class="picture-bg")
		picture.lazy.picture-bg
			source(srcset='#', data-srcset='img/@2x/career-bg.jpg', type='image/jpg', media='(min-width:576px)')
			source(srcset='#', data-srcset='img/@1x/career-bg.jpg', type='image/jpg')
			img.object-fit-js(src='#', data-src='img/@2x/career-bg.jpg', alt='')
		
		.container
			+e.inner
				+e.career
					h1 Начни карьеру в&nbsp;технологичной компании DATEX SOFT
					p Стать экспертом в&nbsp;сфере автоматизации бизнеса
				+e.btn--career.scroll-link(href="#s-vacancies") 
					span
					| Смотреть вакансии
				+e.more.more-js
					+icon("arrow-down")
					|  Подробнее
	// end s-header-rent

