mixin s-product-carusel()
	// start s-product-carusel
	+b.SECTION.s-product-carusel.section#s-product-carusel&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Похожие товары
				
			+e.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 0; x < 5; x++)
						.swiper-slide()
							+e.panel
								+e.img-wrap(href="#")
									img.res-i.swiper-lazy(src="#" data-src="img/@2x/slide-prod.jpg", alt="")
								+e.caption
									+e.title
										a(href="#") Эквайринг Verifone VX820
									+e.price-wrap
											span.text-gray Цена:
											span.h6.strong 16 200 ₽
									a.btn.btn-sm.btn-block.btn-primary.popup-with-move-anim(href="#order" data-title="1С:Бухгалтерия 8 ПРОФ" data-btn="1С:Бухгалтерия 8 ПРОФ") Добавить в корзину
									a.btn.btn-sm.btn-primary.btn-outline-gray.btn-block.popup-with-move-anim(href="#one-click") Купить в 1 клик
				.swiper-pagination
	// end s-product-carusel