html {
	&:not(.fixed) {

		// overflow-x: hidden;
	}

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	background-position: center top;
	background-repeat: no-repeat;
	// @include media-breakpoint-up(sm) {

	// 	margin-left: calc(100vw - 100%);
	// 	margin-right: 0;
	// }

	// background-image: url(../screen/main.jpg);
	&.fixed {

		width: 100%;
		position: absolute;
	}
}
.body-basket{
	background-color: #f2f5f9;
}

.screen {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: top;
	opacity: 0;
	// opacity: 0.7;
}

.header-block {
	@include media-breakpoint-up(xl) {
		// height: 1000px;
	}
}

body {
	// opacity: .7;
	// min-height: 14000px;  
}

.mono {
	font-family: $font-family-monospace;
}

.i-font {
	font-family: $i-font;
	font-size: $small;
	font-weight: 400;
	text-transform: none;
}

.small {
	font-size: $small;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}

.section {
	&__inner{
		background-color: #ffffff;
	}
	@include bgs;
	padding-bottom: rem(60);

	@include media-breakpoint-up(sm) {
		padding-top: rem(95);
	}

	padding-top: rem(80);
}

.section-title {
	@extend .h2;

	@include media-breakpoint-up(sm) {

		padding-bottom: em(28);
	}

	padding-bottom: em(28);

	span {
		display: inline-block;
	}
 h1,
	>h2 {
		font-size: inherit;

		@include media-breakpoint-up(md) {}
	}
}


// @include media-breakpoint-up(lg) {
// 	.container {
// 		// padding-left: 0;
// 		// padding-right: 0;
// 	}
// }

body,
html {
	@include media-breakpoint-up(xxl) {

		font-size: $em-base;
	}

	@include media-breakpoint-up(md) {

		font-size: 15px;
	}

	@include media-breakpoint-up(sm) {}

	font-size: 14px;
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	&.fixed {
		overflow: hidden;
		position: absolute;
		// position: fixed;
		width: 100vw;
		left: 0;
		top: 0;
		z-index: 999;

		@include media-breakpoint-up(lg) {
			padding-right: 17px;
		}

		&::before {
			z-index: 999;

			// opacity: 1;
			opacity: 0.76;
		}

		.main-wrapper {
			// position: absolute;
			// position: fixed;
		}
	}
}

.main-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	// left: 0;
	// top: 0;
	width: 100%;
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;

		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.2s ease-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}


.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}

input,
textarea {
	@include input-placeholder {
		// color: red;
	}

	;
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs2,
.tabs {
	&__btn {
		font-weight: 500;

		&:not(.active) {

			border-color: #cfd2d5;
			color: #6f7378;
		}

		&.active {
			color: $primary;
		}

		&:hover {
			cursor: pointer;
		}

	}

	&__content2,
	&__content {
		&.active {
			display: block !important;
		}

		display: none;
	}
}


select.form-control {
	background-image: url(../img/chevron-down-red.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - #{rem(20)}) 50%; // background-size: rem(18) ;
	padding-right: rem(50px) !important;
	appearance: none !important;

	&:not([size]):not([multiple]) {
		height: $input-height;
	}

	&:focus::-ms-value {
		// Suppress the nested default white text on blue background highlight given to
		// the selected option text when the (still closed) <select> receives focus
		// in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
		// match the appearance of the native widget.
		// See https://github.com/twbs/bootstrap/issues/19398.
		color: $input-color;
		background-color: $input-bg;
	}
}


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	// opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// .lazy-bg,
// img.lazy {
// 	-webkit-filter: blur(5px);
// 	filter: blur(5px);
// 	transition: filter 400ms, -webkit-filter 400ms;

// }

// .lazyloaded {
// 	filter: blur(0);
// }

picture {
	display: block;
	// display: flex;

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

.object-fit-js {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}

.btn-primary {
	@extend .btn;
	background-color: $primary;
	color: #ffffff;
	// border-color: $primary;
	border: none;

	&::before {

		background-color: #c4182a;
	}

	&::after {
		background-color: #ac1424;
	}

}
.btn-outline-success {
	@extend .btn;
	background-color: $success;
	color: #ffffff;
	// border-color: $primary;
	border: none;

	&::before {

		background-color: darken($color: $success, $amount: .01);
		// background-color: #c4182a;
	}
	
	&::after {
		background-color: darken($color: $success, $amount: 3);
		// background-color: #ac1424;
	}
	&:hover{
		border-color: darken($color: $success, $amount: 3);
	}

}


.btn-dark {
	@extend .btn;
	background-color: $body-color;
	color: #ffffff;
	// border-color: $primary;
	border: none;

	&::before {

		background-color: darken($color: $body-color, $amount: 10%);
	}

	&::after {
		background-color: darken($color: $body-color, $amount: 20%);
	}

}

.btn-outline {
	@extend .btn;
	border-color: $primary;

	&::before {

		background-color: #c4182a;
	}

	&::after {
		background-color: #ac1424;
	}

	&:hover {
		border-color: #ac1424;
	}


}

.btn-outline-secondary {
	@extend .btn;
	color: #6f7378 !important;
	border-color: $secondary;
	// &::before{

	// 	background-color: $secondary;
	// }
	// &::after {
	// 	background-color: darken($color: $secondary, $amount: 5%) ; 
	// }
	&:hover {
		border-color: $primary;
		color: $primary !important;
	}

}

a {
	@include mt;
}



.control-wrap {
	position: relative;
}

.swiper-button-hand {
	width: 45px;
	height: 16px;
	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	margin: 0;
	@include a-cent(y);

	&-next {
		background-image: url(../img/arr-right.png);
		right: 0;
	}

	&-prev {
		left: 0;
		background-image: url(../img/arr-left.png);

	}

}

.swiper-button-hand.btn-primary {
	background-image: none;
	width: rem(60);
	height: rem(60);
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	// position: static;
	position: relative;
	top: 0;
	left: 0;
	margin-left: rem(9);

	.icon {
		font-size: rem(14);
	}
}

.control-wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 277px;

	.swiper-pagination {
		position: relative;
	}
}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}


.slider--js {

	.swiper-wrapper {
		@include media-breakpoint-up(sm) {
			height: auto !important;
			transform: translate3d(0px, 0px, 0px) !important;
			flex-wrap: wrap;

			.swiper-slide-duplicate {
				display: none !important;
			}
		}
	}
}

.tabs2,
.tabs {
	&__caption {

		display: flex;
		margin-bottom: rem(45);
		font-size: rem(18);
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		max-width: 50%;
		border: 2px solid #48494a;
		@include mt;
		cursor: pointer;
		height: rem(60);

		&.active {
			border-color: $primary;
			z-index: 2;
		}
	}

	&__btn+&__btn {
		margin-left: -2px;
	}
}


.tabs2 {

	&__btn {

		border: 2px solid #48494a;
	}

}

.container {
	@include media-breakpoint-down(xs) {

		// padding-left: 20px;
		// padding-right: 20px;
	}
}


.pace-inactive {
	@include mt;
	opacity: 0 !important;
	z-index: -100 !important;

}


@include media-breakpoint-up(lg) {

	.wow {
		// visibility: hidden;

	}
}

.page-top-block {
	margin-top: 66px;

	@include media-breakpoint-up(xxl) {
		margin-top: 153px;
	}

	@include media-breakpoint-up(md) {
		margin-top: 90px;
	}

	@include media-breakpoint-up(sm) {
		margin-top: 85px;
	}
}

.picture-bg {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


.bg-wrap {
	position: relative;
	z-index: 2;
}
 
.btn-primary {
	position: relative;
	span {
		display: block;
		z-index: 2;
		width: 30px;
		height: 300px;
		margin-left: 60px;
		background: #fff;
		opacity: .5;
		background: linear-gradient(to bottom, rgba(255, 255, 255, .7) 0, #fff 50%, rgba(255, 255, 255, .7) 100%);
		position: absolute;
		left: -40px;
		top: -150px;
		z-index: -1;
		transform: rotate(45deg);
		transition: all .1s;
		animation-name: slideme;
		animation-duration: 3s;
		animation-delay: 50ms;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;

		@keyframes slideme {
			0% {
				left: -30px;
				margin-left: 0
			}

			30% {
				left: 110%;
				margin-left: 80px
			}

			100% {
				left: 110%;
				margin-left: 80px
			}
		}
	}
}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

.page-head{
	background-color: #ffffff;
	padding-top: rem(45);
	.breadcrumb{
		margin-bottom: rem(2);
	}
	.section-title{
		padding-bottom: rem(20);
	}
}


.cat-slider-nav{
	z-index: 200;
	position: absolute;
	@include a-cent(y);
	width: rem(60);
	height: rem(60);
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	.icon{
		font-size: rem(15);
		color: $primary;
	}
}

.main-search-line{
	&__wrapper{
		max-width: rem(893);
		margin: 0 auto;
		margin-top: rem(40);
	}
	.form-wrap{
		position: relative;
		&__input{
			height: rem(59);
			text-align: left;
			border: none;
			background-color: $light;
			&::placeholder{
				font-size: 16px;
				font-weight: 500;
			}
		}
		&__btn-search{
			height: rem(20);
			display: flex;
			align-items: center;
			position: absolute;
			@include a-cent(y);
			right: 20px;
			// top: rem(-3);
			// left: 0;
			background-color: $light;
			border: none;
			outline: none;
		}
		.icon{
			// position: absolute;
			// right: 0;
			// @include a-cent(y);
			font-size: rem(20);
			color: $primary;
		}
	}
}

