mixin s-articles()
	// start s-articles
	+b.SECTION.s-articles.section#s-articles&attributes(attributes)
		.container
			.row
				mixin art-i(i, t, d, b, date, comm)
					+e.item-col.col-lg-3.col-md-4.col-sm-6
						+e.item
							+e.img-wrap
								img.res-i(src=`img/@2x/art${i}.jpg` alt='')
							+e.text-wrap
								+e.A.title-wrap(href='#')
									+e.item-title=t
								+e.item-descr=d
								if b=='viol'
									+e.A.item-bread--violet(href='#') Торговое обрудование
								if b=='yell'
									+e.A.item-bread--yellow(href='#') Программы 1С
								+e.item-add
									+e.item-date=date
									+e.item-comm
										+icon('comment')
										=comm
				mixin art-group
					+art-i('1','Какое торговое необходимо для маленького магазина','Открытие даже небольшого магазина требует серьёзных вложений. Если вы уже составили бизнес-план, определились с помещением и закупили товар','viol','28 ноября 2019','3')
					+art-i('2','1С: Управление нашей фирмой - как сэкономить?','Побочное следствие развития технологий – производство шинной продукции в «серой зоне». Обычно это имитация известных брендов','yell','28 ноября 2019','25')
					+art-i('3','1С: Бухгалтерия 9 - что ожидать от новой версии?','Побочное следствие развития технологий – производство шинной продукции в «серой зоне». Обычно это имитация известных брендов','yell','21 ноября 2019','7')
					+art-i('4','Как подключить онлайн-кассу самостоятельно?','Открытие даже небольшого магазина требует серьёзных вложений. Если вы уже составили бизнес-план, определились с помещением и закупили товар','viol','17 ноября 2019','0')
				+art-group
				+art-group
				+art-group
				+art-group
				+art-group
			+pugin()
	// end s-articles