.s-rews {
	&__slider {
		width: 100%;
	}

	.before {
		content: '';
		background-image: url(../img/rew-before.webp);
		background-size: cover;
		background-repeat: no-repeat;

		pointer-events: none;
		position: absolute;
		z-index: -1;

		@include media-breakpoint-up(lg) {

			top: 100%;
			left: 0;
			right: auto;
			bottom: auto;
		}

		@include media-breakpoint-up(sm) {
			width: rem(134px);
			height: rem(101px);
			bottom: 0;
		}

		bottom: rem(30);
		width: rem(134px * .9);
		height: rem(101px * .9);
		right: 0;



	}

	&__slide {
		padding-bottom: rem(50);
		padding-left: 5px;
		padding-right: 5px;
		min-width: 100%;
	}

	&__link {
		font-weight: 900;
		text-transform: uppercase;
		// Text style for "с, мотреть"
		letter-spacing: rem(2.52px);
		font-size: $small;
		text-decoration: none !important;

		@include media-breakpoint-up(sm) {

			margin-bottom: rem(60);
		}

		margin-bottom: rem(30);
		display: inline-block;
		z-index: 2;
		color: $primary !important;

		.icon {
			font-size: rem(48);
			margin-right: rem(20);
			@include mt;
		}

		&:hover {
			.icon {
				transform: scale(1.14);
			}
		}
	}

	@include media-breakpoint-up(xl) {
		.container {
			max-width: 1110px;
		}
	}

	h3 {
		line-height: 1.5;
		margin-bottom: rem(25);
	}

	&__card {
		@include media-breakpoint-up(lg) {

			padding-top: rem(150);
			padding-left: 0;
		}

		text-align: left;
		padding-left: rem(30);
		// padding-top: rem(10);
		position: relative;

		.row {

			align-items: center;
		}

		p {
			color: #6f7378;
			font-size: rem(16px);
			line-height: 1.5;
		}
	}

	&__logo {
		transform: translateX(-50%);
		bottom: rem(30);
		position: absolute;

		// width: rem();
		img {

			height: rem(60);
			width: auto;
		}
	}

	&__img-wrap {
		position: relative;

		@include media-breakpoint-up(sm) {

			width: rem(200);
		}

		width: rem(120);
		// max-width: rem;
	}

	h6 {
		line-height: 1.5;
		text-transform: uppercase;
		// Text style for "н, иколаев"
		letter-spacing: rem(3.6px);
		margin-bottom: 0;
	}

	&__control-sl {
		display: flex;
		justify-content: flex-end;
		padding-top: rem(35);
		position: relative;
		z-index: 10;

		@include media-breakpoint-up(sm) {

			margin-bottom: rem(-100);
		}

		width: 100%;
	}

	.d-flex {
		flex-wrap: wrap;
	}

	&__caption {
		position: relative;

		@include media-breakpoint-up(lg) {
			padding-right: 0;
		}

		@include media-breakpoint-up(sm) {
			max-width: none;
			padding-right: rem(190);
		}

		margin-left: auto;
		margin-right: auto;
		max-width: rem(560);
	}

	@include media-breakpoint-up(xl) {

		// padding-top: rem(60);
		// padding-bottom: rem(60);
		.section-title {
			// padding-bottom:  em(10);
		}
	}


	&__btn {
		width: rem(230);

		&:not(:hover) {

			color: $body-color !important;
		}
	}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {
		text-align: center;

		&__control-sl {
			order: 1;
			justify-content: center;
		}

		.section-title {
			padding-bottom: .68889em;
		}

		&__card {
			margin-left: auto;
			margin-right: auto;
			max-width: rem(420);

			.row {
				@include roww(10);
			}
		}
	}

}