mixin s-team()
	// start s-team
	+b.SECTION.s-team.section.block-with-lazy#s-team&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Ключевые лица проектной команды  
					| 
					span.text-primary DATEX SOFT
				h5 Каждый специалист нашей команды думает как принести пользу команде через пользу клиенту.
			.row
				mixin item(  p)
					+e.col.col-lg.col-6
						+e.item()
							+e.img-wrap
								+e.logo
									+icon('1c')
									| Сертифицированные партнеры 1С
								picture 
									// тут сделай кроп шириной   200px или чуть больше, какой там стандартный
									source(type="image/webp" srcset=`img/team.webp` media="(min-width: 576px)")
									source(type="image/png" srcset=`img/team.png` media="(min-width: 576px)")
									source(type="image/webp" srcset=`img/team-sm.webp` )
									img.object-fit-js(src=`img/team-sm.png`, alt='')
							block
							p= p
							+e.btn.btn-outline-secondary(href="#" data-title="Оставить заявку" data-order="стать клиентом"   data-btn="Оставить заявку")  подробнее
					// /.col
				+item('Руководитель команды')
					h6 лысиков
						span.text-primary всеволод
				+item('Руководитель отдела внедрения')
					h6 шуба
						span.text-primary валентин
				+item('Коммерческий директор')
					h6 нестеров
						span.text-primary андрей
				+item('IT директор')
					h6 колоколов
						span.text-primary дмитрий
	// end s-team