.s-team {
	.section-title{
		padding-bottom: em(20);
	}
		 h2{
			 margin-left: auto;
			 margin-right: auto;
			 max-width: em(300);
			 margin-bottom: em(10);
		 }
		 h5{
			 font-weight: normal;
		 }
		 h6{
			 text-transform: uppercase;
			 letter-spacing: rem(3.6px);
			 line-height: 1.5;
			 span{
				 display: block;
			 }
		 }
		 &__col{
			@include media-breakpoint-up(sm) {

				margin-bottom: rem(60);
			}
			margin-bottom: rem(40);
		 }
		 &__item{
			 text-align: center;
			 display: flex;
			 flex-direction: column;
			 font-size: rem(16);
			 position: relative;
			 height: 100%;
			 
			 p{
				//  margin-top: auto;
				 padding-bottom: rem(5);
				 flex-grow: 1;
			 }
		 }
		 &__btn{
			 margin-left: auto;
			 margin-right: auto;
			 width: rem(172);
		 }
		 .row{
			//  @include roww(10);
			margin-left: -10px;
			margin-right: -1px;
			> *{
				padding-left: 10px;
				padding-right: 10px;
			}
		 }
		 &__img-wrap{
			 @include block(307,476);
			 background-color: $light;
			 margin-bottom: rem(25);
		 }
		 picture{
			 position: absolute;
			 left: 0;
			 top: 0;
			 width: 100%;
			 height: 100%;

			// position: relative;
			overflow: hidden;
			// height: 482px;
			img{
				// @extend .res-i;
				// max-height: 100%;
				object-fit: contain;
				object-position: bottom;
				font-family: 'object-fit: cover; object-position: bottom;';
				// background-size: cover;
				background-size: contain !important;
			}
		 }

		 &__logo{
			// display: flex;
			display: inline-flex;
			text-align: left;
			z-index: 2;
			// line-height: 1.2;
			position: absolute;
			left: rem(20);
			top: rem(12);
			font-size: rem(10px);
			max-width: em(350);
			line-height: 1.2;
			.icon{
				margin-right: rem(10);
				font-size: rem(25);
				color: $primary;
			}
		 
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}