mixin s-comments()
	// start s-comments
	+b.SECTION.s-comments.section#s-comments&attributes(attributes)
		.container
			+b.section-title 
				h2 Комментарии:
			img.res-i(src="img/@2x/rew.jpg", alt="")
	// end s-comments