mixin s-comments()
	// start s-comments
	+b.SECTION.s-comments.section#s-comments&attributes(attributes)
		.container
			+b.section-title 
				h2 Комментарии:
			#comments.comments-area
				h2.comments-title
					| 4 thoughts on “
					span Как подобрать эквайринг для своего бизнеса
					| ”
				// .comments-title
				ol.comment-list
					li#comment-5109.comment.even.thread-even.depth-1
						article#div-comment-5109.comment-body
							footer.comment-meta
								.comment-author.vcard
									img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/7594a9a9b2cdbd9092f021bba49cc16e?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/7594a9a9b2cdbd9092f021bba49cc16e?s=64&d=mm&r=g 2x', height='32', width='32')
									b.fn Александр
									span.says :
								// .comment-author
								.comment-metadata
									a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5109')
										time(datetime='2019-11-08T20:33:23+04:00')
											| 08.11.2019 в 20:33
								// .comment-metadata
								// .comment-meta
								.comment-content
									p Нормальный продукт
								// .comment-content
								.reply
									a.comment-reply-link(rel='nofollow', href='#comment-5109', data-commentid='5109', data-postid='3366', data-belowelement='div-comment-5109', data-respondelement='respond', aria-label='Комментарий к записи Александр') Ответить
						// .comment-body
						// #comment-##
						li#comment-5116.comment.byuser.comment-author-vslysikov.odd.alt.thread-odd.thread-alt.depth-1.parent
							article#div-comment-5116.comment-body
								footer.comment-meta
									.comment-author.vcard
										img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/161c1547815f4cc3263f8bef2edcb153?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/161c1547815f4cc3263f8bef2edcb153?s=64&d=mm&r=g 2x', height='32', width='32')
										b.fn Всеволод Лысиков
										span.says :
									// .comment-author
									.comment-metadata
										a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5116')
											time(datetime='2019-11-08T21:43:51+04:00')
												| 08.11.2019 в 21:43
									// .comment-metadata
									// .comment-meta
									.comment-content
										p Нормальный комментарий
									// .comment-content
									.reply
										a.comment-reply-link(rel='nofollow', href='#comment-5116', data-commentid='5116', data-postid='3366', data-belowelement='div-comment-5116', data-respondelement='respond', aria-label='Комментарий к записи Всеволод Лысиков') Ответить
							// .comment-body
							ol.children
								li#comment-5231.comment.byuser.comment-author-datex_adm.bypostauthor.even.depth-2.parent
									article#div-comment-5231.comment-body
										footer.comment-meta
											.comment-author.vcard
												img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/42e7d253c65e8aaa0d0a872d4b93cb2a?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/42e7d253c65e8aaa0d0a872d4b93cb2a?s=64&d=mm&r=g 2x', height='32', width='32')
												b.fn Михаил Ишметов
												span.says :
											// .comment-author
											.comment-metadata
												a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5231')
													time(datetime='2019-11-09T18:48:29+04:00')
														| 09.11.2019 в 18:48
											// .comment-metadata
											// .comment-meta
											.comment-content
												p ответ на комментарий
											// .comment-content
											.reply
												a.comment-reply-link(rel='nofollow', href='#comment-5231', data-commentid='5231', data-postid='3366', data-belowelement='div-comment-5231', data-respondelement='respond', aria-label='Комментарий к записи Михаил Ишметов') Ответить
									// .comment-body
									ol.children
										li#comment-5388.comment.byuser.comment-author-wol1414.odd.alt.depth-3
											article#div-comment-5388.comment-body
												footer.comment-meta
													.comment-author.vcard
														img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/a44d5003bb8bb15523cb32d1cb494928?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/a44d5003bb8bb15523cb32d1cb494928?s=64&d=mm&r=g 2x', height='32', width='32')
														b.fn Павел
														span.says :
													// .comment-author
													.comment-metadata
														a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5388')
															time(datetime='2019-11-11T01:23:12+04:00')
																| 11.11.2019 в 01:23
													// .comment-metadata
													// .comment-meta
													.comment-content
														p
															| Какой-то не важный  ответ.  Совсем мало строчек текста. Че делать-то. Наверно свой надо написать  . Мало, еще надо дописать. Вот почти на вторую строку хватило текста))
													// .comment-content
													.reply
														a.comment-reply-link(rel='nofollow', href='#comment-5388', data-commentid='5388', data-postid='3366', data-belowelement='div-comment-5388', data-respondelement='respond', aria-label='Комментарий к записи Павел') Ответить
											// .comment-body
											// #comment-##
											// .children
											// #comment-##
											// .children
											// #comment-##
											// .comment-list
											#respond.comment-respond
												h3#reply-title.comment-reply-title
													| Добавить комментарий 
													small
														a#cancel-comment-reply-link(rel='nofollow', href='/kak-podobrat-ekvajring-dlya-svoego-biznesa/#respond', style='display:none;') Отменить ответ
												form#commentform.comment-form(action='https://datexsoft.ru/wp-comments-post.php', method='post', novalidate='')
													p.comment-notes
														span#email-notes Ваш e-mail не будет опубликован.
														|  Обязательные поля помечены 
														span.required *
													p.comment-form-comment
														label(for='comment') Комментарий
														textarea#comment(name='comment', cols='45', rows='8', maxlength='65525', required='required')
													p.comment-form-author
														label(for='author')
															| Имя 
															span.required *
														input#author(name='author', type='text', value='', size='30', maxlength='245', required='required')
													p.comment-form-email
														label(for='email')
															| E-mail 
															span.required *
														input#email(name='email', type='email', value='', size='30', maxlength='100', aria-describedby='email-notes', required='required')
													p.comment-form-url
														label(for='url') Сайт
														input#url(name='url', type='url', value='', size='30', maxlength='200')
													p.comment-form-cookies-consent
														input#wp-comment-cookies-consent(name='wp-comment-cookies-consent', type='checkbox', value='yes')
														label(for='wp-comment-cookies-consent')
															| Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
													.gglcptch.gglcptch_invisible
														#gglcptch_recaptcha_624374140.gglcptch_recaptcha
															.grecaptcha-badge(data-style='bottomright', style='width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;')
																.grecaptcha-logo
																	iframe(src='https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LehvsEUAAAAAMjg2q1ECgabQJaz_uC5GGWVKXMx&co=aHR0cHM6Ly9kYXRleHNvZnQucnU6NDQz&hl=ru&v=0bBqi43w2fj-Lg1N3qzsqHNu&size=invisible&cb=q9i6whgwawxo', width='256', height='60', role='presentation', name='a-8eok67d672hl', frameborder='0', scrolling='no', sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox')
																.grecaptcha-error
																textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;')
														noscript
															div(style='width: 302px;')
																div(style='width: 302px; height: 422px; position: relative;')
																	div(style='width: 302px; height: 422px; position: absolute;')
																		iframe(src='https://www.google.com/recaptcha/api/fallback?k=6LehvsEUAAAAAMjg2q1ECgabQJaz_uC5GGWVKXMx', frameborder='0', scrolling='no', style='width: 302px; height:422px; border-style: none;')
																div(style='border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px; height: 60px; width: 300px;')
																	textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px !important; height: 40px !important; border: 1px solid #c1c1c1 !important; margin: 10px 25px !important; padding: 0px !important; resize: none !important;')
													p.form-submit
														input#submit.submit(name='submit', type='submit', value='Отправить комментарий')
														input#comment_post_ID(type='hidden', name='comment_post_ID', value='3366')
														input#comment_parent(type='hidden', name='comment_parent', value='0')
											// #respond


	// end s-comments

mixin s-comments-15()
	// start s-comments
	.s-comments
		h2.h4 Обсуждение товара Honeywell Voyager 1450G
		#comments.comments-area
			#reviews.woocommerce-Reviews
				#comments
					ol.commentlist
						li#li-comment-10985.review.even.thread-even.depth-1
							#comment-10985.comment_container
								img.avatar.avatar-60.photo(alt='', src='https://secure.gravatar.com/avatar/86ce67e171511bbb49e9d357a31afc5f?s=60&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/86ce67e171511bbb49e9d357a31afc5f?s=120&d=mm&r=g 2x', height='60', width='60')
								.comment-text
									p.meta
										strong.woocommerce-review__author Олег 
										span.woocommerce-review__dash –
										time.woocommerce-review__published-date(datetime='2019-12-23T15:54:13+04:00') 23.12.2019
									.description
										p
											| Здравствуйте, у нас склад, на складе более 10к товара. Хотим попробовать его для инвентаризации, потянет?
							ul.children
								li#li-comment-10986.comment.byuser.comment-author-nesterovandrey.odd.alt.depth-2
									#comment-10986.comment_container
										img.avatar.avatar-60.photo(alt='', src='https://secure.gravatar.com/avatar/36a76215738a0c3134bbe209f14fe3de?s=60&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/36a76215738a0c3134bbe209f14fe3de?s=120&d=mm&r=g 2x', height='60', width='60')
										.comment-text
											p.meta
												strong.woocommerce-review__author Андрей Нестеров 
												span.woocommerce-review__dash –
												time.woocommerce-review__published-date(datetime='2019-12-23T15:57:59+04:00') 23.12.2019
											.description
												p
													| Добрый день, Олег
													br
													| Рекомендую вам рассмотреть терминалы сбора данных (ТСД) для работе на складе.
													br
													| Вот каталог 
													a(href='https://datexsoft.ru/product-category/shopto/tsd/', rel='nofollow') https://datexsoft.ru/product-category/shopto/tsd/
													br
													| А также рекомендую вам обратиться к нашим менеджерам, они вам подберут соответствующее оборудование и программное обеспечение.
								// #comment-##
								// .children
								// #comment-##
				
				.clear

	+b.s-comments 
		h4 Обсуждение товара Смарт-терминал Эвотор 5
		#comments.comments-area 
			// .comments-title
			ol.comment-list
				li#comment-5109.comment.even.thread-even.depth-1
					article#div-comment-5109.comment-body
						footer.comment-meta
							.comment-author.vcard
								img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/7594a9a9b2cdbd9092f021bba49cc16e?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/7594a9a9b2cdbd9092f021bba49cc16e?s=64&d=mm&r=g 2x', height='32', width='32')
								b.fn Александр
								span.says :
							// .comment-author
							.comment-metadata
								a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5109')
									time(datetime='2019-11-08T20:33:23+04:00')
										| 08.11.2019 в 20:33
							// .comment-metadata
							// .comment-meta
							.comment-content
								p Нормальный продукт
							// .comment-content
							.reply
								a.comment-reply-link(rel='nofollow', href='#comment-5109', data-commentid='5109', data-postid='3366', data-belowelement='div-comment-5109', data-respondelement='respond', aria-label='Комментарий к записи Александр') Ответить
					// .comment-body
					// #comment-##
					li#comment-5116.comment.byuser.comment-author-vslysikov.odd.alt.thread-odd.thread-alt.depth-1.parent
						article#div-comment-5116.comment-body
							footer.comment-meta
								.comment-author.vcard
									img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/161c1547815f4cc3263f8bef2edcb153?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/161c1547815f4cc3263f8bef2edcb153?s=64&d=mm&r=g 2x', height='32', width='32')
									b.fn Всеволод Лысиков
									span.says :
								// .comment-author
								.comment-metadata
									a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5116')
										time(datetime='2019-11-08T21:43:51+04:00')
											| 08.11.2019 в 21:43
								// .comment-metadata
								// .comment-meta
								.comment-content
									p Нормальный комментарий
								// .comment-content
								.reply
									a.comment-reply-link(rel='nofollow', href='#comment-5116', data-commentid='5116', data-postid='3366', data-belowelement='div-comment-5116', data-respondelement='respond', aria-label='Комментарий к записи Всеволод Лысиков') Ответить
						// .comment-body
						ol.children
							li#comment-5231.comment.byuser.comment-author-datex_adm.bypostauthor.even.depth-2.parent
								article#div-comment-5231.comment-body
									footer.comment-meta
										.comment-author.vcard
											img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/42e7d253c65e8aaa0d0a872d4b93cb2a?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/42e7d253c65e8aaa0d0a872d4b93cb2a?s=64&d=mm&r=g 2x', height='32', width='32')
											b.fn Михаил Ишметов
											span.says :
										// .comment-author
										.comment-metadata
											a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5231')
												time(datetime='2019-11-09T18:48:29+04:00')
													| 09.11.2019 в 18:48
										// .comment-metadata
										// .comment-meta
										.comment-content
											p ответ на комментарий
										// .comment-content
										.reply
											a.comment-reply-link(rel='nofollow', href='#comment-5231', data-commentid='5231', data-postid='3366', data-belowelement='div-comment-5231', data-respondelement='respond', aria-label='Комментарий к записи Михаил Ишметов') Ответить
								// .comment-body
								ol.children
									li#comment-5388.comment.byuser.comment-author-wol1414.odd.alt.depth-3
										article#div-comment-5388.comment-body
											footer.comment-meta
												.comment-author.vcard
													img.avatar.avatar-32.photo(alt='', src='https://secure.gravatar.com/avatar/a44d5003bb8bb15523cb32d1cb494928?s=32&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/a44d5003bb8bb15523cb32d1cb494928?s=64&d=mm&r=g 2x', height='32', width='32')
													b.fn Павел
													span.says :
												// .comment-author
												.comment-metadata
													a(href='https://datexsoft.ru/kak-podobrat-ekvajring-dlya-svoego-biznesa/#comment-5388')
														time(datetime='2019-11-11T01:23:12+04:00')
															| 11.11.2019 в 01:23
												// .comment-metadata
												// .comment-meta
												.comment-content
													p
														| Какой-то не важный  ответ.  Совсем мало строчек текста. Че делать-то. Наверно свой надо написать  . Мало, еще надо дописать. Вот почти на вторую строку хватило текста))
												// .comment-content
												.reply
													a.comment-reply-link(rel='nofollow', href='#comment-5388', data-commentid='5388', data-postid='3366', data-belowelement='div-comment-5388', data-respondelement='respond', aria-label='Комментарий к записи Павел') Ответить
										// .comment-body
										// #comment-##
										// .children
										// #comment-##
										// .children
										// #comment-##
										// .comment-list
										#respond.comment-respond
											h3#reply-title.comment-reply-title
												| Добавить комментарий 
												small
													a#cancel-comment-reply-link(rel='nofollow', href='/kak-podobrat-ekvajring-dlya-svoego-biznesa/#respond', style='display:none;') Отменить ответ
											form#commentform.comment-form(action='https://datexsoft.ru/wp-comments-post.php', method='post', novalidate='')
												p.comment-notes
													span#email-notes Ваш e-mail не будет опубликован.
													|  Обязательные поля помечены 
													span.required *
												p.comment-form-comment
													label(for='comment') Комментарий
													textarea#comment(name='comment', cols='45', rows='8', maxlength='65525', required='required')
												p.comment-form-author
													label(for='author')
														| Имя 
														span.required *
													input#author(name='author', type='text', value='', size='30', maxlength='245', required='required')
												p.comment-form-email
													label(for='email')
														| E-mail 
														span.required *
													input#email(name='email', type='email', value='', size='30', maxlength='100', aria-describedby='email-notes', required='required')
												p.comment-form-url
													label(for='url') Сайт
													input#url(name='url', type='url', value='', size='30', maxlength='200')
												p.comment-form-cookies-consent
													input#wp-comment-cookies-consent(name='wp-comment-cookies-consent', type='checkbox', value='yes')
													label(for='wp-comment-cookies-consent')
														| Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих комментариев.
												.gglcptch.gglcptch_invisible
													#gglcptch_recaptcha_624374140.gglcptch_recaptcha
														.grecaptcha-badge(data-style='bottomright', style='width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;')
															.grecaptcha-logo
																iframe(src='https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LehvsEUAAAAAMjg2q1ECgabQJaz_uC5GGWVKXMx&co=aHR0cHM6Ly9kYXRleHNvZnQucnU6NDQz&hl=ru&v=0bBqi43w2fj-Lg1N3qzsqHNu&size=invisible&cb=q9i6whgwawxo', width='256', height='60', role='presentation', name='a-8eok67d672hl', frameborder='0', scrolling='no', sandbox='allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox')
															.grecaptcha-error
															textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;')
													noscript
														div(style='width: 302px;')
															div(style='width: 302px; height: 422px; position: relative;')
																div(style='width: 302px; height: 422px; position: absolute;')
																	iframe(src='https://www.google.com/recaptcha/api/fallback?k=6LehvsEUAAAAAMjg2q1ECgabQJaz_uC5GGWVKXMx', frameborder='0', scrolling='no', style='width: 302px; height:422px; border-style: none;')
															div(style='border-style: none; bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px; background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px; height: 60px; width: 300px;')
																textarea#g-recaptcha-response.g-recaptcha-response(name='g-recaptcha-response', style='width: 250px !important; height: 40px !important; border: 1px solid #c1c1c1 !important; margin: 10px 25px !important; padding: 0px !important; resize: none !important;')
												p.form-submit
													button#submit.submit(name='submit', type='submit',  ) Отправить комментарий
														span
													input#comment_post_ID(type='hidden', name='comment_post_ID', value='3366')
													input#comment_parent(type='hidden', name='comment_parent', value='0')
										// #respond

	

	// end s-comments

