extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-competences/_s-competences.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-segments/_s-segments.pug
include ../blocks/s-digilization/_s-digilization.pug
include ../blocks/s-steps/_s-steps.pug
include ../blocks/s-start/_s-start.pug
include ../blocks/s-ways/_s-ways.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-doc/_s-doc.pug
include ../blocks/s-consultation/_s-consultation.pug
include ../blocks/s-rews/_s-rews.pug
include ../blocks/s-search-line/_s-search-line.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/mobile-menu/_mobile-menu.pug
include ../blocks/s-catalog-slider/_s-catalog-slider.pug
include ../blocks/s-buy-prog/_s-buy-prog.pug
include ../blocks/s-product/_s-product.pug
include ../blocks/s-logos/_s-logos.pug
include ../blocks/s-contact-us/_s-contact-us.pug
include ../blocks/s-contact-head/_s-contact-head.pug
include ../blocks/s-contact-body/_s-contact-body.pug
include ../blocks/s-contact-foot/_s-contact-foot.pug

include ../blocks/s-header-rent/_s-header-rent.pug
include ../blocks/s-tariffs/_s-tariffs.pug
include ../blocks/s-saving/_s-saving.pug
include ../blocks/s-fresh/_s-fresh.pug
include ../blocks/s-fresh-servises/_s-fresh-servises.pug
include ../blocks/s-cloud/_s-cloud.pug
include ../blocks/s-free/_s-free.pug

include ../blocks/s-articles/_s-articles.pug
include ../blocks/s-contact-new/_s-contact-new.pug
include ../blocks/s-help/_s-help.pug
include ../blocks/s-vacancies/_s-vacancies.pug

block variables
	- let  mainPage= 'rent-page'
	
block title
	- let title= "Аренда"
	title= title

block pagecontent
	//- +mob-mnu()
	+header()
		+top-line-page-2()
		//- +top-nav()
	//- +s-search-line()
	+s-header-rent16
	//- +s-tariffs
	//- +s-saving
	//- +s-fresh
	//- +s-fresh-servises
	//- +s-cloud
	//- +s-free

	//- +s-articles-12()
	//- +s-contact-new 
	+s-help
	+s-vacancies
	+footer()

