extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-competences/_s-competences.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-segments/_s-segments.pug
include ../blocks/s-digilization/_s-digilization.pug
include ../blocks/s-steps/_s-steps.pug
include ../blocks/s-start/_s-start.pug
include ../blocks/s-ways/_s-ways.pug
include ../blocks/s-why/_s-why.pug
include ../blocks/s-doc/_s-doc.pug
include ../blocks/s-consultation/_s-consultation.pug
include ../blocks/s-rews/_s-rews.pug

block title
	title title

block pagecontent
	//- +mob-mnu()
	+header()
		+top-line()
		//- +top-nav()

	+header-block()
	+s-segments
	+s-competences
	+s-digilization
	+s-steps
	+s-start
	+s-rews
	+s-why
	//- +s-team
	+s-doc
	//- +s-ways
	+s-consultation
	+s-contact()
	+footer()

