.s-product {
	@include media-breakpoint-down(sm){
		padding-bottom: 0;
	}
	padding-bottom: 0 !important;
	h1 {
		margin: 0 !important;
	}

	padding-top: rem(25) !important;

	@include media-breakpoint-up(md) {
		padding-top: rem(40) !important;
	}

	.btn--white {
		box-shadow: none;
	}

	.btn--green {
		box-shadow: none;
	}

	@include media-breakpoint-up(md) {
		padding: rem(30) 0;
	}

	.breadcrumb {
		margin-bottom: rem(5);
	}

	.section-title {
		margin: 0;
		padding-bottom: rem(25) !important;

		@include media-breakpoint-up(md) {
			padding-bottom: rem(30) !important;
		}
	}

	&__product-img {
		@include media-breakpoint-up(sm) {

			margin-top: rem(-25);
			display: flex;
			justify-content: center;
		}


		img {
			// width: 100%;
			display: block;
			@include media-breakpoint-up(sm) {

				max-width: 240px;
			}
			max-width: 100%;
			height: auto;
			flex-shrink: 0;
		}
	}

	.custom-input {
		padding: 20px 16px 20px 50px;
		margin: 0;
		font-size: 16px;
		font-weight: 400;
		color: $body-color;

		&__additional-price {
			color: $body-color;
			// font-family: "Gotham Pro";
			font-size: 16px;
			font-weight: 500;
			float: right;

			.i-font {
				font-size: 16px;
			}
		}
	}

	.form-wrap {
		margin-bottom: rem(13);
	}

	.radio-prod {
		position: relative;

		margin: 0;
		cursor: pointer;

		input {
			display: none;
		}

		&__wrapper {
			padding: 8px 10px 8px 38px;

			@include media-breakpoint-up(md) {
				padding: 13px 16px 13px 48px;
			}

			border: 1px solid transparent;
			display: block;
		}

		&__lab {
			width: 20px;
			height: 20px;
			background-color: #fff;
			border: 2px solid #dadde2;

			@include media-breakpoint-up(md) {
				// padding: 13px 16px 13px 48px;
				left: 16px;
			}

			left: 10px;
			@include a-cent(y);
			border-radius: 50%;

			&::after {
				@include mt;
				content: '';
				position: absolute;
				@include a-cent;
				//  background-color: $success;
				width: 20px;
				height: 20px;
				border: 7px solid $primary;
				opacity: 0;
				border-radius: 50%;
			}
		}

		input:checked+.radio-prod__wrapper>.radio-prod__lab {
			&::after {
				opacity: 1 !important;
			}
		}

		input:checked+.radio-prod__wrapper {
			border: 1px solid #dadde2;
			border-radius: 3px;
		}

		&__title {
			font-size: 12px;
			display: flex;
			align-items: center;

			@include media-breakpoint-up(sm) {
				font-size: 16px;
				display: block;
			}

			color: $body-color;
		}

		&__price {
			font-size: 12px;
			display: flex;
			align-items: center;

			@include media-breakpoint-up(sm) {
				font-size: 16px;
				display: block;

				span {
					font-size: 16px;
				}
			}

			font-weight: 500;

			span {
				font-size: 12px;
			}
		}
	}

	&__art {
		font-size: $small;
		color: #6f7378;
		margin-bottom: rem(25);
	}

	&__price {
		font-weight: 500;
		font-size: $h4-font-size;

		span {
			font-size: $h4-font-size;
		}
	}

	&__price-wrapper {
		margin-left: rem(10);
		padding: 5px;
		border-radius: 3px;
		background-color: #fdd058;
	}

	&__col {
		display: flex;
		align-items: center;
	}

	&__btn {
		height: rem(60);

		// @extend .btn-block;
		// display: inline-block;
		@include media-breakpoint-up(lg) {
			width: rem(232px);

		}

		width: 100%;

		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
	}

	.demo-btn {
		@include media-breakpoint-up(md) {
			// display: flex;
			// flex-direction: column;
			// justify-content: flex-end;
			// align-items: center;
		}

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}

	.main-btn {
		margin: 0;
	}

	&__one-click {
		font-size: 16px;

		@include media-breakpoint-up(xxl) {
			max-width: rem(65);
		}

		text-align: center;

		a {
			color: #6f7378;
			display: inline;
			border-bottom: 1px solid #6f7378;

			&:hover {
				text-decoration: none;
				color: $primary;
				border-color: $primary;
			}
		}
	}

	.one-click-col {
		@include media-breakpoint-up(md) {
			display: flex;
			margin-left: auto;
			margin-top: rem(10);
			justify-content: center;
		}

		@include media-breakpoint-up(xxl) {
			display: block;
			margin-left: unset;
			margin-top: 0;
		}
	}

	&__price-light {
		display: inline-block;

		@include media-breakpoint-up(xl) {
			margin-bottom: rem(20);
		}

		@include media-breakpoint-up(lg) {
			min-width: rem(215px);
			margin-top: 0;
		}

		margin-bottom: rem(5);
		// margin-top: rem(10);

		border-radius: 3px;
		font-size: $h4-font-size;
		font-weight: 500;
		padding: em(6px) em(12px);

		span {
			font-size: $h4-font-size;
			font-weight: 500;
		}
	}

	.btn--white {
		@include media-breakpoint-up(xxl) {
			margin-bottom: rem(20);
		}
	}

	&__title--green {
		font-size: $h6-font-size;
		font-weight: 500;
		color: #00c257;
		margin-bottom: rem(8);

		@include media-breakpoint-up(xl) {
			display: inline-block;
			min-width: 215px;
			margin-top: 0;
		}

		margin-top: rem(10);
	}

	.btn--green {
		margin-bottom: 0;
	}

	&__tabs-col {
		@include media-breakpoint-up(sm) {
			display: flex;
			flex-wrap: wrap;
		}

		@include media-breakpoint-down(md) {
			justify-content: space-around;
		}
	}

	.tabs {
		margin-top: rem(50);
		&__wrap{
			min-height: 100%;
		}
		&__caption {
			.active:hover {
				span {
					border-color: #fff;
				}
			}

			padding: rem(20) 0;
			margin: 0;
			max-width: none;
			display: block;
			border-top: 1px solid #dadde2;
			border-bottom: 1px solid #dadde2;

			.active {
				border: 2px solid $primary;

				span {
					border-color: #fff;
				}
			}
		}

		&__btn {
			@include media-breakpoint-down(sm) {
				margin-bottom: rem(10);
				padding: rem(5) rem(10);
				max-height: unset;
				justify-content: center;
			}

			@include media-breakpoint-down(xs) {
				justify-content: start;
			}

			max-height: rem(50);
			// flex-grow: 0;
			border: none;
			border: 2px solid #fff;

			@include media-breakpoint-down(md) {
				justify-content: start;
				padding-left: rem(10);
			}

			&:hover {
				span {
					color: $primary;
					border-color: $primary;
				}
			}

			span {
				@include mt;
				display: inline;
				border-bottom: 1px solid #a8aaae;
			}
		}
		&__content2{
			min-height: 100%;
		}
		&__wrap {
			background-color: #fff;
			margin-bottom: rem(20);

			@include media-breakpoint-up(xl) {
				max-width: rem(932);
				margin-bottom: 0;
			}
		}
	}

	&__content-block {
		padding: rem(50) 0 0;
		@include media-breakpoint-up(md) {
			background-color: $light;
			padding-bottom: rem(60);
		}

	}

	&__content {
		@include media-breakpoint-up(md) {
			padding: rem(45) rem(50) ;
		}

		// min-height: 850px;

		img {
			@extend .res-i;
		}

		h4 {
			font-weight: 500;
			margin-bottom: rem(25);
			line-height: 1.4;
		}
		
		h6 {
			line-height: 1.4;
			margin-bottom: rem(16);
		}

		strong {
			font-weight: 700;
		}

		p {
			font-size: rem(16px);
			font-weight: 400;
			line-height: (26 / 16);
			margin-bottom: rem(40);
		}

		ul {
			padding-left: rem(11);
			list-style: none;
			font-size: 16px;
			line-height: 30px;
			margin-bottom: rem(28);

			ul {
				margin-bottom: 0;
			}

			li {
				a {
					display: inline;
					border-bottom: 1px solid;
					text-decoration: none !important;

					&:hover {
						border-color: #fff;
					}
				}
			}

			>li {
				position: relative;

				&::before {
					content: "•";
					position: absolute;
					left: rem(-10);
					top: 0;
					color: $primary;
				}

				ul>li {
					&::before {
						content: "";
						top: rem(12);
						width: 5px;
						height: 5px;
						border-radius: 50%;
						border: 1px solid $primary;
					}
				}
			}
		}

		.table-svg {
			width: 16px;
			height: auto;
			margin: 0 auto;
		}

		img {
			margin-bottom: rem(46);
		}

		ol {
			font-size: 16px;
			font-weight: 400;
			line-height: 26px;
			padding-left: rem(20);
			list-style: none;
			counter-reset: item;
			margin-bottom: rem(40);

			li {
				margin-bottom: rem(6);
				position: relative;

				&::before {
					content: counter(item) '.';
					counter-increment: item;
					color: $primary;
					font-weight: 700;
					position: absolute;
					top: 0;
					left: rem(-18);
				}
			}
		}

		.s-competences__item {
			@include media-breakpoint-up(lg) {
				
				padding: rem(10) !important;
			}
			padding: rem(30) rem(10) !important;
		}

		.table-wrapper {
			position: relative;
			overflow-x: auto;
		}

		.functional {
			min-width: 380px;
			width: 100%;
			border-radius: 3px;
			border: 1px solid #dadde2;
			margin-bottom: rem(30);

			.icon {
				font-size: 14px;

				&-yes {
					color: #00c257;
				}

				&-no {
					color: $primary;
				}
			}

			tr {
				&:not(:last-child) {
					border-bottom: 1px solid #dadde2;
				}

				&:not(:first-child) {
					border-bottom: 1px solid #dadde2;
				}

			}

			thead {
				background-color: #fdd058;
			}

			th {
				border-bottom: 1px solid #dadde2;
				padding: rem(20) 0;

				// text-align: center;
				&:not(:first-child) {
					text-align: center;
					width: rem(150);
				}

				&:first-child {
					// max-width: 385px;
					padding: rem(20) rem(30);
				}

				&:not(:last-child) {
					border-right: 1px solid #dadde2;
				}

				a {
					color: $body-color;
					display: inline;
					border-bottom: 1px solid #C3A248;
					font-size: rem(16);

					&:hover {
						color: #6f7378;
						text-decoration: none;
					}
				}
			}

			td {
				padding: rem(10) rem(5) !important;
				font-size: 12px;

				@include media-breakpoint-up(md) {
					padding: rem(20) 0;
					font-size: 14px;
				}

				a {
					display: inline;
					border-bottom: 1px solid #6f7378;
					font-size: rem(12);
					color: #6f7378;

					@include media-breakpoint-up(md) {
						font-size: rem(16);
					}

					&:hover {
						text-decoration: none;
						color: $primary;
						border-color: $primary
					}
				}

				// padding: rem(20) rem(30);
				&:not(:first-child) {
					text-align: center;
					width: rem(150);
				}

				&:first-child {
					// max-width: 385px;
					padding: rem(20) rem(30);
				}

				&:not(:last-child) {
					border-right: 1px solid #dadde2;
				}

			}

		}

		.composition {
			border-top: 1px solid #dadde2;
			width: 100%;
			margin-bottom: rem(50);

			.table-svg {
				position: absolute;
				@include a-cent(y);
				left: 30px;
			}

			tr {
				border-bottom: 1px solid #dadde2;
				position: relative;

				.icon {
					position: absolute;
					@include a-cent(y);
					left: 30px;
					font-size: 14px;

					&-no {
						color: $primary;
					}

					&-yes {
						color: #00c257;
					}

					// margin-right: rem(15);
				}
			}

			td {
				position: relative;
				padding: rem(15) rem(30) rem(15) rem(75);
			}
		}

	}

	&__extra {
		&-block {
			border: 2px solid #dadde2;
			background-color: #ffffff;
			padding: rem(25) rem(20) rem(20);
			margin-bottom: rem(20);

			@include media-breakpoint-up(xl) {
				margin-bottom: rem(50);
			}

		}

		&-title {
			text-align: center;
			font-size: $h6-font-size;
			font-weight: 700;
			margin-bottom: rem(10);

			span {
				color: $primary;
			}
		}

		&-list {
			padding-left: rem(16);
			list-style: none;
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 0;

			@include media-breakpoint-up(md) {
				column-count: 2;
			}

			@include media-breakpoint-up(xl) {
				column-count: 1;
			}
		}

		&-item {
			position: relative;
			margin-bottom: rem(3);

			&::before {
				content: "•";
				position: absolute;
				left: rem(-10);
				top: 0;
				color: $primary;
			}
		}
	}

	&__help-block {
		border: 2px solid $primary;
		background-color: #ffffff;
		padding: rem(30) rem(20);

		@include media-breakpoint-up(xl) {
			padding: rem(20) rem(25) rem(5);
		}

		.form-wrap {
			&__btn {
				padding-top: rem(20);
				padding-bottom: rem(20);
				margin-bottom: rem(15);
			}

			&__input-wrap {
				margin-bottom: rem(10);
			}

			&__input {
				border: none;
				padding-top: rem(18);
				padding-bottom: rem(18);
			}

			&__polite {
				@include media-breakpoint-down(lg) {
					max-width: unset;
				}

				.custom-input {
					padding: 0 0 0 rem(40);
					line-height: $em-base;

					&__text {
						font-size: 12px;
					}
				}
			}
		}


		.form-wrap__polite .wpcf7-list-item-label{
			padding-left: 2rem;
			margin-top: 0;
			font-size: 12px;
			color: #1e1e1e;
		}
		span.wpcf7-list-item {
			margin-left: 0;
		}
	}
.aside-block-js{ 
		@include media-breakpoint-up(xl){
			height: 100%;
			min-height: calc(100% + 1px );
			display: block;
			// align-items: flex-start;
			flex-direction: column;
			flex-wrap: nowrap 
	}
}
	.help {
		&-title {
			text-align: center;
			font-size: $h6-font-size;
			font-weight: 700;
			margin-bottom: rem(5);
		}

		&-subtitle {
			text-align: center;
			font-size: 16px;
			// font-weight: 400;
			line-height: 26px;
			margin-bottom: rem(15);
		}
	}



	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {
		&__btn-wrap-right {
			margin-top: 20px;
			padding-top: 30px;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				@include a-cent(x);
				top: 0;
				border-top: 1px solid #dadde2;
				height: 1px;
				width: calc(100% - 30px);
			}
		}
	}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {
		&__order-col {
			align-self: center;
		}

		&__price {
			margin-bottom: rem(20);
			margin-left: auto;
			margin-right: auto;
		}

		&__one-click {
			display: block;
			text-align: center;
			width: 100%;
			margin-top: rem(20);
		}
	}

	@include media-breakpoint-down(xs) {
		.row {
			@include roww(8);
		}

		&__price,
		&__price span,
		&__one-click {

			font-size: $small;
		}

		&__price-light {
			font-size: $small;
			margin-top: rem(25);
			margin-bottom: rem(12);

			.i-font {
				font-size: 1em;
			}
		}

		&__title--green {
			font-size: 12px;
			font-weight: 500;
			// padding-left: 10px;
			// padding-right: 1px;
			margin-bottom: 0;
			margin-left: auto;
			margin-right: auto;
			margin-top: rem(34);
			// max-width: rem(140);
		}

		&__btn-wrap-right {
			padding-top: rem(10);
		}
	}

}