mixin s-product()
	// start s-product
	+b.s-product.section.lazy-background#s-product&attributes(attributes)
		.container
			+b.section-title.text-center
				+breadcrumb("Главная","Программы «1С»","Бухгалтерский учет","1С:Бухгалтерия 8 ПРОФ")
				h1 1С:Бухгалтерия 8 ПРОФ
				
			.row
				.d-none.d-md-block.col-4.col-xl-3
					+e.product-img
						img(src="img/product.png" alt="#")
				.col-12.col-md-8.col-xl-6
					+form-wrap(id="product-radio")
						mixin product-radio(t, p)
							+b.LABEL.radio-prod
								input(type='radio' name="additional" )&attributes(attributes)
								+e.SPAN.wrapper
									+e.SPAN.lab
									span.row
										+e.SPAN.title.col=t
										+e.SPAN.price.col-auto=p
											span.i-font o
						+product-radio("Основная поставка","9 000 000")(checked)
						+product-radio("Электронная поставка","10 000")
						+product-radio("USB поставка","8 900")
					+e.art Артикул: 4601546041654
					.row
						.d-md-none.col-sm-auto.col-6
							+e.product-img
								+pic('product','png','','')
								//- img.res-i(src="img/product.png" alt="#")
						+e.order-col.col-sm.col-6
							.row
								+e.col.col-md-6.col-lg-auto
									+e.price Цена:
										+e.SPAN.price-wrapper 90 000
											span.i-font o
								+e.col.col-md-6.col-lg-auto
									+e.btn.main-btn.btn-primary.popup-with-move-anim(href="#order" data-title="1С:Бухгалтерия 8 ПРОФ" data-btn="1С:Бухгалтерия 8 ПРОФ") Купить
								+e.col.one-click-col.col-md-6.col-lg
									+e.one-click
										a.popup-with-move-anim(href="#one-click") Купить в 1 клик

							
				+e.btn-wrap-right.col-12.col-xl-3.text-center.align-items-center.d-flex.justify-content-center
					
					.row
						.col-xl-12.col-6.text-center
						 
							+e.price-light.bg-light.fw-500 от 1 200
								span.i-font o
								|/мес. 
							+e.btn.btn--white.btn-primary.popup-with-move-anim(href="#arend" data-title="1С:Бухгалтерия 8 ПРОФ" data-btn="1С:Бухгалтерия 8 ПРОФ") Арендовать
						.col-xl-12.col-6.demo-btn
							+e.title--green Бесплатно на&nbsp;30&nbsp;дней
							+e.btn.btn--green.btn-outline-success.popup-with-move-anim(href="#modal-call" data-title="Оставить заявку" data-btn="Оставить заявку") демо-доступ
		+e.tabs.tabs
			.tabs__caption
				.container
					.row
						+e.tabs-col.col-12.col-xl-10
							.tabs__btn.active 
								.tabs-btn-wrapper
									span Назначение
							.tabs__btn 
								.tabs-btn-wrapper
									span Описание
							.tabs__btn 
								.tabs-btn-wrapper
									span Сравнение версий
							.tabs__btn 
								.tabs-btn-wrapper
									span Комплект поставки
							.tabs__btn 
								.tabs-btn-wrapper
									span Лицензии
							.tabs__btn 
								.tabs-btn-wrapper
									span Услуги
			+e.content-block
				.container
					.row
						.col-12.col-xl
							.tabs__wrap
								.tabs__content2.active
									+e.content
										h4 Общая характеристика конфигурации «Бухгалтерия КОРП»
										p Программный продукт 
											strong «1С:Бухгалтерия 8 КОРП» 
											|предназначен для автоматизации бухгалтерского и&nbsp;налогового учета, включая подготовку обязательной (регламентированной) отчетности в&nbsp;организациях, осуществляющих любые виды коммерческой деятельности: оптовую и&nbsp;розничную торговлю, комиссионную торговлю (включая субкомиссию), оказание услуг, производство и&nbsp;т.&nbsp;д. Программа предоставляет возможность вести бухгалтерский и&nbsp;налоговый учет сразу нескольких организаций (юридических лиц) в&nbsp;общей информационной базе.
										h6 Маркированный список:
										ul
											li Авизо по ОС.
											li Авизо по МПЗ.
											li 
												a(href="#") Авизо по расчетам.
											li Авизо по прочим операциям.
										h6 Нумированный список:
										ol
											li Разработана специализированная подсистема подготовки уведомления о контролируемых сделках
											li При подготовке уведомления не&nbsp;требуется повторно вводить или изменять данные в&nbsp;хозяйственных операциях, отраженных в&nbsp;информационной базе. Сформированное уведомление можно распечатать.
											li Авизо по прочим операциям.
										img(src="img/content-img.jpg" alt="" style="max-width: 500px")
										h6 Двухуровневый маркированный список:
										ul
											li Авизо по ОС.
											li Авизо по МПЗ.
												ul
													li
														a(href="#") Авизо по расчетам.
													li Авизо по прочим операциям.
											li Авизо по МПЗ.
								.tabs__content2
									+e.content
										h4 Общая характеристика конфигурации «Бухгалтерия КОРП»
										p Программный продукт 
											strong «1С:Бухгалтерия 8 КОРП» 
											|предназначен для автоматизации бухгалтерского и&nbsp;налогового учета, включая подготовку обязательной (регламентированной) отчетности в&nbsp;организациях, осуществляющих любые виды коммерческой деятельности: оптовую и&nbsp;розничную торговлю, комиссионную торговлю (включая субкомиссию), оказание услуг, производство и&nbsp;т.&nbsp;д. Программа предоставляет возможность вести бухгалтерский и&nbsp;налоговый учет сразу нескольких организаций (юридических лиц) в&nbsp;общей информационной базе.
										h6 Маркированный список:
										ul
											li Авизо по ОС.
											li Авизо по МПЗ.
											li 
												a(href="#") Авизо по расчетам.
											li Авизо по прочим операциям.
										h6 Нумированный список:
										ol
											li Разработана специализированная подсистема подготовки уведомления о контролируемых сделках
											li При подготовке уведомления не&nbsp;требуется повторно вводить или изменять данные в&nbsp;хозяйственных операциях, отраженных в&nbsp;информационной базе. Сформированное уведомление можно распечатать.
											li Авизо по прочим операциям.
										img(src="img/content-img.jpg" alt="")
										h6 Двухуровневый маркированный список:
										ul
											li Авизо по ОС.
											li Авизо по МПЗ.
												ul
													li
														a(href="#") Авизо по расчетам.
													li Авизо по прочим операциям.
											li Авизо по МПЗ.
								.tabs__content2
									+e.content
										h4 Сравнение функционала
										p С этой целью при разработке конфигурации были выполнены:
										.table-wrapper
											table.functional
												thead
													tr
														th 1С:Бухгалтерия
														th 
															a(href="#") Базовая
														th
															a(href="#") ПРОФ 8
														th
															a(href="#") КОРП 8
												tbody
													tr
														td
														td
															a(href="#") Подробнее
														td
															a(href="#") Подробнее
														td
															a(href="#") Подробнее
													tr
														td Готовое решение для ведения бухгалтерского&nbsp;и налогового учета
														td 
															+icon("yes")
														td 
															+icon("yes")
														td 
															+icon("yes")
													tr
														td Подготовка бухгалтерской и налоговой
														td 
															+icon("no")
														td 
															+icon("yes")
														td 
															+icon("yes")
													tr
														td Готовое решение для ведения бухгалтерского и налогового учета
														td 
															+icon("no")
														td 
															+icon("yes")
														td 
															+icon("yes")
													tr
														td Подготовка бухгалтерской и налоговой 
														td 
															+icon("no")
														td 
															+icon("no")
														td 
															+icon("yes")
														
								.tabs__content2
									+e.content
										h4 Состав продукта
										p Программный продукт «1С:Бухгалтерия 8 КОРП» включает:
										table.composition
											tbody
												tr
													td
														+icon("yes")
														|платформу «1С:Предприятие 8.2»
												tr
													td
														+icon("yes")
														|прикладное решение (конфигурацию) «Бухгалтерия КОРП»
												tr
													td
														+icon("yes")
														|платформу «1С:Предприятие 8.2»
												tr
													td
														+icon("yes")
														|прикладное решение (конфигурацию) «Бухгалтерия КОРП»
										
								.tabs__content2
									+e.content
										h4 Список лицензий
										p Программный продукт «1С:Бухгалтерия 8 КОРП» обеспечивает работу прикладного решения на одном рабочем месте в один момент времени. 
										+s-competences-card()(class="competences-card")
								.tabs__content2
									+e.content
										h4 Список услуг
										p Программный продукт «1С:Бухгалтерия 8 КОРП» обеспечивает работу прикладного решения на одном рабочем месте в один момент времени. 
										+s-competences-card-2()(class="competences-card license-card")
										
														
										
						.col-12.col-xl-3
							.row
								.col-12
									+e.extra-block
										+e.extra-title
											span Бесплатно 
											|при&nbsp;покупке вы&nbsp;получаете:
										+e.UL.extra-list
											+e.LI.extra-item Доставка и установка
											+e.LI.extra-item Обновления через интернет
											+e.LI.extra-item Линия консультаций 24/7
											+e.LI.extra-item Доступ к 1С:Отчетность
								.col-12
									+e.help-block
										+form-wrap
											.help-title Нужна консультация?
											.help-subtitle Закажите консультацию в&nbsp;один&nbsp;клик!
											.row
												.col-md-6.col-xl-12
													+input("tel","tel","+7 (___)-___-__-__")( required class="bg-light")
												.col-md-6.col-xl-12
													+e.btn(type="submit") отправить
												.col-12
													+help-polite
	// end s-product

