.form-control{
 //  outline: 0 !important;
 text-align: center;
	resize: none;
	@include mt;
	// @extend .form-control-lg; 
	box-shadow: none !important;
	&:focus{
		border-color: #f2f6fa;
		outline: none;
		background-color: #f2f6fa;
	}
}
.form-wrap{
	&__input-wrap{

		// max-width: 466px;
	}
	&__btn{
		cursor: pointer;
	}
	label{
		width: 100%;
		display: block;
	}
	
	&__inner{
		
		background-position: left center ;
		background-repeat: no-repeat; 
		margin-top: em(35);
		@include media-breakpoint-up(sm) {

			padding: 25px 68px;
		 }
		 padding: 35px 15px 20px;
	}
	&__inner-title{
	 //  @extend .mono; 
 
		text-align: center;
		@include media-breakpoint-up(xl) {

			font-size: 36px;
		 }
		 // font-size: 32px;
		 font-size: calc(.8rem + 1.5vw);
		 margin-bottom: em(8);
	}
	&__btn{ 
		@extend .btn-block;
		@extend .btn-primary;
		@extend .btn-lg;
	}
	&__small{
	 font-size: 12px; 
	 text-align: center;
	 margin-top: em(20);
 }

 &__title{
	 // @include rfs
	//  font-size: rem(32);
	@extend .h3;
	font-weight: 900;
		//  font-weight: bold;
	 line-height: 1;
	 margin-bottom: em(5);

 }
 &__title-sub{
	 // color: $gray; 
	 // font-size: $h6-font-size;
	 font-size: rem(18);
	 margin-left: auto;
	 margin-right: auto;
	 max-width: rem(480);
	 margin-bottom: em(30);
	 color: #7a7a7a;
 }
 &__polite{
	 margin-left: auto;
	 margin-right: auto;
	 max-width: rem(400);
 }
}


 
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}


.border-primary{
 border-color: $primary;
}



.custom-input{
 display: block;
 margin: auto;
 margin-left: auto;
 margin-right: auto; 
 margin-top: rem(15);
 color: #6f7378;
//  @include media-breakpoint-up(md) {
	 text-align: left;
	 padding-left: rem(55);
//  }
//  text-align: center;
 margin-bottom: rem(20);
 cursor: pointer;
 position: relative;
 display: inline-block;
 font-size: rem(16);
 &__input{
	 position: absolute;
	 // opacity: 0;
	 width: 1px;
	 height: 1px;
	 margin: -1px;
	 border: 0;
	 padding: 0;
	 clip: rect(0 0 0 0 );
	 overflow: hidden;
 }
 &__lab{
	//  @include media-breakpoint-up(md) {

		 left: 0;
		 display: block;
		 top: rem(5px);
		 // display: inline-block;
		 @include media-breakpoint-up(sm) {

			 width: rem(30px);
			 height: rem(30px);
			}
			width: rem(35px);
			height: rem(35px);
			background-color: $light;
		 @include mt;
		 position: absolute; 
		 margin-right: 10px; 
	//  }
 }
//  @include media-breakpoint-up(md) {

	 &__input[type="checkbox"] + &__lab{
		 &::after{ 
			 content:  '';
			 background-image:  url("../img/check.svg");
			 background-position: center center;
			 background-repeat: no-repeat;
			 background-size: contain;
			 width: 70%;
			 height: 70%;
			 position: absolute;
			 @include a-cent; 
			 opacity: 0;
		 }
	//  }
 }
	 &__input[type="radio"] + &__lab{
		 
		 border-radius: 50%;
	 &::after{ 
		 content: '';
		 position: absolute;
		 @include a-cent;
		 background-color: $success;
		 opacity: 0;
		 width: 10px;
		 height: 10px;
		 border-radius: 50%;
	 }
 }

 &__input:checked + &__lab{ 
	 &::after{

		 opacity: 1 !important;
	 }
 }

}



.manager-block{
	max-width: rem(450);
	padding-bottom: rem(30);
	.row{
		align-items: center;
		@include roww(10)
	}
	p{
		color: #6f7378;
		font-size: rem(16);
		margin-bottom: 0;
	}
	h6{
		// margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
	&__img-wrap{
		width: rem(100px);
		height: rem(100px);
		background-color: $light;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		// padding-top: rem(15);
	 
		img{
			// object-fit: contain !important;
		 
			// width: 80%;
			// height: auto;
			background-size: contain !important;
			background-position: top center !important;
		}
	}
}