mixin s-contact-foot()
	// start s-contact-foot
	+b.SECTION.s-contact-foot.section.lazy-background#s-contact-foot&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-contact-foot
				
			.row
	// end s-contact-foot