.s-steps {


	&__col{
		@include media-breakpoint-up(lg) {

			padding-left: 0;
			transform: translateX(-15px);
			padding-top: rem(52);
			// margin-right: -15px;
			padding-right: 0;
		} 
		// margin-left: rem(-10);
	}
	.section-title{
		padding-bottom: rem(32);
		@include media-breakpoint-up(lg) {
			text-align: left;
			padding-bottom: rem(19);
		}
		text-align: center;
	}
	@include media-breakpoint-up(xl) {
		padding-top: rem(180);
	}
	&__text{
		@include media-breakpoint-up(sm) {

			font-size: rem(18);
		}
		line-height: 1.8;
		@include media-breakpoint-up(lg) {
			text-align: left;
			max-width: rem(510);
			margin-bottom: rem(30);
		}
		margin-bottom: rem(38);
		text-align: center;
	}

	&__btn{
		width: rem(271);
	}
	.tabs__btn{
		&:not(.active){

			border-color: #cfd2d5;
			color: #6f7378;
		}
		&.active{
			color: $primary;
		}
	}
	.tabs__caption{
		@include media-breakpoint-up(lg) {
			max-width: none;
	}
	margin-left: auto;
	margin-right: auto;
	max-width: rem(546);

	}
	padding-bottom: 238px;
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}