mixin mob-mnu() 
	+b.menu-mobile--js 
		+e.inner 
			- var nav= {"Главная":"/#header-block","Компетенции":"/#s-competences","Команда":"/#s-team","Этапы работ":"/#s-steps","Отзывы":"/#rew"," Сопровождение":"#/s-start","Консультация":"/#s-consultation","Контакты":"/#s-contact"}
				ul.menu
					each linkPatch, linkName in nav
						li.menu-item: a(href= linkPatch)= linkName
			+e.foot
				.container
					.row
						.col.d-none.d-sm-block
							+e.logo
								+icon('1c')
								| Сертифицированные партнеры 1С
						+e.col.col-sm-auto
							+soc()
						.col.d-none.d-lg-block
	//  мобильное меню
mixin top-line()
	// start .top-line
	.top-line__tel.d-sm-none(href="tel:+7(846)3004840") ПОЗВОНИТЬ СЕЙЧАС
	+b.top-line--js.block-with-lazy
		+e.body
			.container
				.row
					.col-sm-auto.col
						a(href="/")
							img(src="img/logo.png", alt="")
					+e.col.col.d-none.d-sm-block
						.row.justify-content-end
							.col-auto
								+e.tel(href="tel:+7(846)3004840")

									+icon("phone-receiver")
									| +7 (846) 300 48 40 
							.col-auto.d-none.d-xl-block
								+e.btn.btn-outline.popup-with-move-anim(href="#modal-call" data-title="Заказать звонок" data-order="Заказать звонок"   data-btn="Заказать звонок") заказать звонок
					.col-sm.col-auto.order-sm-first
						.row
							.col
								+e.city
									+e.city-name
										+icon("flag")
										| САМАРА
							.col-auto.order-sm-first
								+b.toggle-menu-mobile--js
									+b.line-wrap.hamburger
										+e.item.line
										+e.item.line
										+e.item.line
									+e.text.d-none.d-md-block  меню
		+mob-mnu()
	// end .top-line


