.fixed {
  .top-line__body {
    background-color: #171718;
    position: relative;
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 100%;
      top: 0;
      z-index: 2;
      background-color: #171718;
      // background-color: #fff;
    }
  }
}

.top-line__tel--mob {
  transform: translateY(110%);
  @include mt;
  cursor: pointer;

  &.active {
    transform: translateY(0);

  }
}

.top-line__tel .icon-phone-receiver {
  font-size: rem(20);
  margin-right: rem(10);
}

.top-line {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  width: 100vw;
  &::after{
    
  }
  &--page{
    background-color: #171718;
    position: fixed !important;
    transform: translateY(0) !important;
    top: 0  !important;
  }
  
  &--page .body-1{ 
    background-color: #171718;
    &::before{
       
      background-color: #171718; 
    }
    }
   
  &--page .body-1{
    display: block;
    @include mt; 
    &::before{
      content: '';
      position: absolute;
      // left: 0; 
      top: 0;
     left: 100%;
      height: 100%;
      z-index: 10;
      width: 100%;
    }
   
    @include media-breakpoint-up(xl) {
      padding-top: 0;
      padding-bottom: 0;
  
    }
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  .body-2{
    display: none;
    @include media-breakpoint-up(xl) {
      padding-top: 0;
      padding-bottom: 0;
  
    }
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
  // transform: translateY(0);
  
  @include media-breakpoint-up(xl) {
    padding-right: 17px;
  }
  
  // height: 10px;
  
  z-index: 1000;
  color: #ffffff;
  
  .container {
    position: relative;
  }
  
  &.top-ready{
    transform: translateY(-110%);
    .body-1{
      display: none;
    }
    .body-2{
      display: block;
    }
  }
  &.fixed-ready {
    position: fixed;
    @include mt(.9);
    // z-index: 20;
    z-index: 1000;
    background-color: #171718;
    
    // .top-line__body {
    //   padding-top: em(23.1px);
    //   padding-bottom: em(23.1px);
    // }
    
  }
  &__tagline-col{
    display: none;
    @media (min-width: 1600px){
      display: block;
    }
  }
  &__tagline{
    @media (min-width: 1600px){
      display: block;
      font-size: $small;
      font-weight: 400;
      color: #c4c4c4;
      text-transform: none;
      letter-spacing: 1px;
      max-width: rem(220);
    }
  }

  &__nav{
    list-style: none;
    display: flex;
    margin: 0;
    // justify-content: space-between;
    border-left: 1px solid #313132;
    // border-right: 1px solid #313132;
  }
  
  &__nav-item{
    font-size: rem(16);
    text-transform: none;
    // letter-spacing: normal;
    padding: rem(38) 0;
    flex-grow: 1;
    // display: flex;
    text-align: center;
    .icon-top-nav-arrow{
      font-size: rem(10) !important;
    }
    a{
      font-weight: 500;
      color: #fff;
      display: block;
    }
      border-right: 1px solid #313132;
  }
  
  &__body {
    
    position: relative;
    z-index: 1000;
  }
  
  &.fixed {
    position: fixed;
    transform: translateY(0);
  }

  // &__body {
  //   @include media-breakpoint-up(sm) {

  //     padding-top: rem(42);
  //   }

  //   padding-top: rem(20);
  // }

  &__body {
    font-size: $small;
    // font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    // letter-spacing: rem(2.52px);

    .icon {
      font-size: rem(18);
      color: $primary;
      margin-right: rem(10);
    }

  }

  .container {
    max-width: (1820px + $grid-gutter-width);
  }

  .row {
    align-items: center;

    @media (min-width: 1440px) {}

    @include media-breakpoint-up(xxl) {

      @include roww(25);
    }
    @include roww(10);

    // @include roww(8);
  }

  &__tel {
    @extend .text-white;
    text-decoration: none !important;
  }


  &__btn {
    @extend .btn-sm;

  }

  &__city-name {
    display: flex;
    cursor: pointer;

    @include media-breakpoint-up(sm) {}

    // min-width: rem(130);
    // min-width: rem(150);
    // align-items:  flex-end;
  }

  img {
    height: auto;
    @include media-breakpoint-up(sm) {

      max-width: rem(162);
    }

    max-width: rem(100);
  }

  @include media-breakpoint-down(xs) {
    &__col {
      // width: 0;
      // max-width: 0;
      // position: static;
    }

    &__tel {
      &:not(.top-line__tel--page){

     
      position: fixed;
      width: 100vw;
      bottom: 0;
      right: 0;
      background-color: $primary;
      // display: block;
      z-index: 305;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(20);
      padding-right: calc(#{rem(20)} + 100vw - 100%);
      font-size: rem(24);
      font-weight: bold;

      .icon {
        color: #ffffff;
      }

      overflow: hidden;

      &::after {
        content: "";
        display: block;
        width: 30px;
        height: 300px;
        margin-left: 60px;
        background: #fff;
        opacity: 0.5;

        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3ffffff', endColorstr='#b3ffffff', GradientType=0);
        position: absolute;
        left: -40px;
        top: -150px;
        z-index: -1;
        transform: rotate(45deg);
        transition: all 0.1s;
        animation-name: slideme;
        animation-duration: 3s;
        animation-delay: 0.05s;

        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
      // &--page{
      //   position: static;
      //   width: auto;
      //   &::before{
      //     display: none;
      //   }
      //   &::after{
      //     display: none;
      //   }
      // }
      &--page{
        font-size: rem(12);
      }
    }
  }

  // 
  @include media-breakpoint-up(xl) {}

  @include media-breakpoint-up(lg) {}

  @include media-breakpoint-up(md) {}

  @include media-breakpoint-up(sm) {}

  @include media-breakpoint-up(xs) {}

  // 
  @include media-breakpoint-between(md, xl) {}

  // 
  @include media-breakpoint-only(xs) {}

  @include media-breakpoint-only(sm) {}

  @include media-breakpoint-only(md) {}

  @include media-breakpoint-only(lg) {}

  @include media-breakpoint-only(xl) {}

  // 
  @include media-breakpoint-down(xl) {}

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(md) {}

  @include media-breakpoint-down(sm) {}

  @include media-breakpoint-down(xs) {
    .container{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.hamburger {
  @include media-breakpoint-up(md) {

    margin-right: rem(20);
  }

  @include media-breakpoint-up(sm) {

    width: rem(40);
  }

  width: rem(40 * .8);

  .line {

    height: 2px;
    display: block;

    @include media-breakpoint-up(sm) {

      margin: rem(12) auto;
    }

    margin: rem(12 * .8) auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    background-color: $primary;
  }
}

.hamburger:hover {
  cursor: pointer;
}

.toggle-menu-mobile {
  &.on {

    .line:nth-child(2) {
      opacity: 0;
    }

    .line:nth-child(1) {
      @include media-breakpoint-up(sm) {

        transform: translateY(rem(13)) rotate(45deg);
      }

      transform: translateY(rem(13 * .9)) rotate(45deg);
    }

    .line:nth-child(3) {
      @include media-breakpoint-up(sm) {

        transform: translateY(rem(-15)) rotate(-45deg);
      }

      transform: translateY(rem(-15 * .9)) rotate(-45deg);
    }
  }
}




// мобильное меню


.toggle-menu-mobile {
  display: flex;
  align-items: center;
  cursor: pointer;


  margin-left: 0;
  // position: fixed;
  position: relative;
  z-index: 200;
  right: 0;


}

.menu-mobile {
  position: absolute;
  z-index: 999;
  // max-width: 85%;
  height: 100%;
  // width: 280px;
  width: 100%;
  top: 0;
  .mobile-menu{
    display: block !important;
    top: 0;
    position: relative;
  }
  // left: 0;
  // right: 0;
  left: 0;
  transform: translate(0, -120%);
  @include mt(.6);
  will-change: transform;
  // display: none;
  color: #ffffff;
  position: fixed ;


  &__inner {
    // background-color: #fff;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: rem(90) 0 0;
  }

  &.active {
    transform: translate(0, 0);

    .toggle-menu-mobile {
      opacity: 1;
    }
  }


  &__foot {
    .icon {

      color: $primary;
    }



    // position: absolute;

    width: 100%;
    text-align: left;

    @include media-breakpoint-up(xxl) {

      padding-bottom: rem(70);
    }

    background-color: #171718;
    padding-top: rem(10);
    padding-bottom: rem(80);

    .container {
      max-width: (1820px + $grid-gutter-width);
    }

    font-size: $small;

  }

  &__logo {
    // display: flex;
    display: inline-flex;
    text-align: left;
    line-height: 1.2;

    .icon {
      margin-right: rem(15);
      font-size: rem(36);
    }

    max-width: rem(225);
  }

  &__nav-wrap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu {
  border-left: 1px solid #313132;
  //  display: flex;
  @include media-breakpoint-down(xs) {}
  
  @include media-breakpoint-up(sm) {
    display: flex;
  }
  .icon{
    font-size: rem(7);
    margin-left: rem(9);
    transition: all .2s ease;
  }
  .active{
    background-color: #242425;
    .icon{
      transform: rotate(180deg)
    }
  }
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1599px){
    width: 100%;
  }
  max-width: em(1030);
  list-style-type: none;
  text-transform: none;
  @include rfs(rem(16));
  @include media-breakpoint-up(xl) {
    @include rfs(rem(14));
  }
  align-items: center;
  
  &-item {
    border-right: 1px solid #313132;
    padding: rem(32) 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;

    a {
      // font-size: 16px;

      // padding: rem(10px) 0;
      display: block;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: $primary;
      }

    }
  }
}