mixin s-help()
	// start s-help
	+b.SECTION.s-help.section#s-help&attributes(attributes)
		.container
			+b.section-title
				.row
					.col-xl-7.col-lg-6
						h2 Помогаем нашим клиентам #[span добиваться успехов] в&nbsp;бизнесе с&nbsp;помощью IT&#8209;технологий.
					.col
						p Компания Datex основанная в&nbsp;2019 году является сертифицированными партнером фирмы &quot;1С&quot;&copy;, основным направлением деятельности является продажа и&nbsp;внедрение программных продуктов на&nbsp;базе 1С:Предприятие.

						p Для достижения стратегических целей нам важно быть полезными для наших клиентов. Выполнять свою работу так, чтобы бизнес наших клиентов развивался. Быть командой, где ценен вклад каждого сотрудника. Только благодаря этому мы&nbsp;можем развиваться в&nbsp;новых направлениях и&nbsp;предоставлять клиентам качественный и&nbsp;комплексный продукт.
			+b.s-artical-body.py-0
				+e.slider-wrap
						+e.slider--js.swiper-container.gal
							.swiper-wrapper
								- for (var x = 0; x < 3; x++)
									+e.slide.swiper-slide
										+e.item(href=`img/@2x/help-${x + 1}.jpg`)
											img.swiper-lazy.res-i(src="#" data-src=`img/@2x/help-${x + 1}.jpg`, alt="")
								
								- for (var x = 0; x < 3; x++)
									+e.slide.swiper-slide
										+e.item(href=`img/@2x/help-${x + 1}.jpg`)
											img.swiper-lazy.res-i(src="#" data-src=`img/@2x/help-${x + 1}.jpg`, alt="")
								
							+e.slider-nav
								+e.slider-prev.cat-slider-nav
									+icon("slider-prev")
								+e.slider-next.cat-slider-nav
									+icon("slider-next")
						.swiper-pagination
	// end s-help