mixin s-artical-body()
	// start s-artical-body
	+b.SECTION.s-artical-body.section#s-artical-body&attributes(attributes)
		.container 
			p Что такое 1С:Fresh? Это сервис, который предлагает размещение вашей программы 1С в интернете. В чем смысл? Если кратко, то Вы имеете доступ к Вашей «одинэске» с любого устройства и из любой точки планеты через интернет. Также использование 
				| 
				a(href="#") 1С:Fresh 
				| 
				|  предполагает то, что вы не покупаете программу, а берете ее в аренду,
				| 
				em наполняя своими учетными данным.

			p Как же все это выглядит и чем визуально отличается от 1С 
				| 
				strong развернутой на Вашем компьютере? 
				|  Да собственно выглядит точно также и визуально не отличается практически ничем. Единственное, что Вы будите заходить в 1С через браузер.
			h2 Для кого предназначен 1С:Fresh:
			p Сервис предназначен для предприятий любого масштаба и разных областей деятельности:
			ul
				li для микробизнеса — например, «1С-Касса» для соблюдения требований 54-ФЗ по онлайн-чекам, «1С:БизнесСтарт» для начинающих бизнесменов);
				li для малого и среднего бизнеса: 1С:Бухгалтерия, 1С:Предприниматель, 1С:Управление нашей фирмой, 1С:Зарплата и управление персоналом;
				li для среднего и крупного бизнеса: «1С:Комплексная автоматизация» и «1С:ERP Управление предприятием»;
				li для государственных учреждений: «1С:Бухгалтерия государственного учреждения» и «1С:Зарплата и кадры государственного учреждения».
			h3 Какие программы 1С работают на 1С:Fresh:
			p В настоящее время в 1С:Fresh можно работать со следующими программными решениями 1С:
			ol
				li «1С:Бухгалтерия 8»;
				li «1С:Управление нашей фирмой 8»;
				li «1С:Комплексная автоматизация 2.0»;
				li «1С:ERP Управление предприятием»;
				li «1С:Предприниматель»;
				li «1С:Касса»;
				li «1С:Зарплата и управление персоналом 8»;
				li «1С:Бухгалтерия государственного учреждения 8».
			h4 Преимущества 1С:Fresh:
			p Работа в сервисе «1С:Предприятие 8 через Интернет» обеспечивает следующие преимущества:
			ul
				li для микробизнеса — например, «1С-Касса» для соблюдения требований 54-ФЗ по онлайн-чекам, «1С:БизнесСтарт» для начинающих бизнесменов);
				li для малого и среднего бизнеса: 1С:Бухгалтерия, 1С:Предприниматель, 1С:Управление нашей фирмой, 1С:Зарплата и управление персоналом;
				li для среднего и крупного бизнеса: «1С:Комплексная автоматизация» и «1С:ERP Управление предприятием»;
				li для государственных учреждений: «1С:Бухгалтерия государственного учреждения» и «1С:Зарплата и кадры государственного учреждения».
		
			.wp-caption.aligncenter
				img(src="img/@2x/artical-img.jpg", alt="")
				p.wp-caption-text Описание фотографии.
			h5 Преимущества 1С:Fresh:
			p Что же в результате – ФРЕШ или Не ФРЕШ? А это зависит только от Вас! Никогда не работали с 1С и хотите попробовать – тогда, наверное, 1С:Fresh. Не хотите заморачиваться с сопровождением вашей одинсэки – тогда опять 1С:Fresh. Не можете себе позволить сразу тратить значительные суммы денег на оплату программы целиком – снова 1С:Fresh.

			p Если же устойчивость интернет-соединения на вашем рабочем месте – это что-то из области фантастики – тогда «коробочное» решение. Напрягает мысль, что Ваша программа 1С хранится не у Вас на компьютере – опять же коробочное решение. Ваша 1С находится в состоянии непрерывных доработок и переписывания бизнес-процессов «под Вас» – снова отдаем предпочтение «коробочному» решению.

			p Выбирайте с умом. В конце концов не ошибается только тот, кто ничего не делает!
			.wp-caption.alignleft
				img(src="img/@2x/img-left.jpg", alt="")
				p.wp-caption-text Описание фотографии.
			
			p Что же в результате – ФРЕШ или Не ФРЕШ? А это зависит только от Вас! Никогда не работали с 1С и хотите попробовать – тогда, наверное, 1С:Fresh. Не хотите заморачиваться с сопровождением вашей одинсэки – тогда опять 1С:Fresh. Не можете себе позволить сразу тратить значительные суммы денег на оплату программы целиком – снова 1С:Fresh.
			p Если же устойчивость интернет-соединения на вашем рабочем месте – это что-то из области фантастики – тогда «коробочное» решение. Напрягает мысль, что Ваша программа 1С хранится не у Вас на компьютере – опять же коробочное решение. Ваша 1С находится в состоянии непрерывных доработок и переписывания бизнес-процессов «под Вас» – снова отдаем предпочтение «коробочному» решению.

			p Выбирайте с умом. В конце концов не ошибается только тот, кто ничего не делает!
			.clearfix
			p Что же в результате – ФРЕШ или Не ФРЕШ? А это зависит только от Вас! Никогда не работали с 1С и хотите попробовать – тогда, наверное, 1С:Fresh. Не хотите заморачиваться с сопровождением вашей одинсэки – тогда опять 1С:Fresh. Не можете себе позволить сразу тратить значительные суммы денег на оплату программы целиком – снова 1С:Fresh.

			p Если же устойчивость интернет-соединения на вашем рабочем месте – это что-то из области фантастики – тогда «коробочное» решение. Напрягает мысль, что Ваша программа 1С хранится не у Вас на компьютере – опять же коробочное решение. Ваша 1С находится в состоянии непрерывных доработок и переписывания бизнес-процессов «под Вас» – снова отдаем предпочтение «коробочному» решению.

			p Выбирайте с умом. В конце концов не ошибается только тот, кто ничего не делает!
			+e.slider-wrap
				+e.slider--js.swiper-container.gal
					.swiper-wrapper
						- for (var x = 0; x < 4; x++)
							+e.slide.swiper-slide
								+e.item(href="img/@2x/img-left.jpg")
									img.res-i(src="img/@2x/img-left.jpg", alt="")
					+e.slider-nav
						+e.slider-prev.cat-slider-nav
							+icon("slider-prev")
						+e.slider-next.cat-slider-nav
							+icon("slider-next")
				.swiper-pagination
			p Что же в результате – ФРЕШ или Не ФРЕШ? А это зависит только от Вас! Никогда не работали с 1С и хотите попробовать – тогда, наверное, 1С:Fresh. Не хотите заморачиваться с сопровождением вашей одинсэки – тогда опять 1С:Fresh. Не можете себе позволить сразу тратить значительные суммы денег на оплату программы целиком – снова 1С:Fresh.

			p Если же устойчивость интернет-соединения на вашем рабочем месте – это что-то из области фантастики – тогда «коробочное» решение. Напрягает мысль, что Ваша программа 1С хранится не у Вас на компьютере – опять же коробочное решение. Ваша 1С находится в состоянии непрерывных доработок и переписывания бизнес-процессов «под Вас» – снова отдаем предпочтение «коробочному» решению.

			p Выбирайте с умом. В конце концов не ошибается только тот, кто ничего не делает!
			+e.table-wrap
				table.table-example
					// удали класс .table-example
					thead
						tr
							th(colspan="4")
								.text-center 
									strong Динамичная и легкая в построении таблица.
					tbody
						tr
							td 
								strong Ячейка 1
							td
								.text-right Ячейка 1
							td
								a.tdu(href="#")  Ячейка 1
							td
								.text-center
									img.res-i(src="img/close-red.svg", alt="")
							
						
						tr
							td 
								strong Ячейка 2
							td
								.text-right Ячейка 2
							td
								a.tdu(href="#")  Ячейка 2
							td
								.text-center
									img.res-i(src="img/yes.svg", width="15" height="11" alt="")
							
						
						tr
							td 
								strong Ячейка 3
							td
								.text-right Ячейка 3
							td
								a.tdu(href="#")  Ячейка 3
							td(style="background-color: #eaeef3;")
								.text-center Ячейка 1
						
						tr
							td 
								strong Ячейка 4
							td
								.text-right Ячейка 4
							td
								a.tdu(href="#")  Ячейка 4
							td
							
						
						tr
							td 
								strong Ячейка 5
							td
								.text-right Ячейка 5
							td
								a.tdu(href="#")  Ячейка 5
							td(rowspan="4" style="width:225px")
								.text-center
									img(src="img/@2x/table-img.jpg", width="187" alt="")
							
						
						tr
							td 
								strong Ячейка 6
							td
								.text-right Ячейка 6
							td
								a.tdu(href="#")  Ячейка 6 
							
						
						tr
							td 
								strong Ячейка 7
							td
								.text-right Ячейка 7
							td
								a.tdu(href="#")  Ячейка 7 
							
						
						tr
							td 
								strong Ячейка 8
							td
								.text-right Ячейка 8
							td
								a.tdu(href="#")  Ячейка 8 
							
						
						tr
							td 
								strong Ячейка 9
							td
								.text-right Ячейка 9
							td(colspan="2")
								a.tdu(href="#")  Объединенные ячейки по горизонтали
				.small Описание таблицы.
						
			h4  Скачать файлы:
			+b.download
				- for (var x = 0; x < 4; x++)
					+e.link(href="#" download)
						+icon("download")
						+e.link-title Название файла.pdf
						+e.size 23 мб
					br
	// end s-artical-body