 
	  
.soc{
	margin: 0 rem(-18px);
	display: flex;
	justify-content: center;
	&__item{
		display: inline-block;
		text-decoration: none !important;
		margin: 0 rem(18px);
		vertical-align: middle;
		@include mt;
		// color: #ffffff !important;
		
		.icon{
			font-size: rem(30) !important;
			color: #ffffff !important;
		}
		&:hover{
			opacity: 0.5;
		}
	}

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.breadcrumb{
	font-size: rem(16);
	margin-bottom: rem(10);
	&-item{
		position: relative;
		color: #6f7378;
		&:hover{
			color: $body-color;
		}
		&:not(:last-child){
			margin-right: rem(26);
			&::after{
				content: "";
				background-image: url(../img/svg/breadcrumb-arrow.svg);
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				@include a-cent(y);
				right: rem(-15);
				width: 6px;
				height: 11px;
				@include media-breakpoint-up(xxl) {
					top: rem(10);
				}
			}
		}
	}
	.active{
		color: $body-color;
	}
}

