mixin header-block()
	// start header-block
	+b.header-block#header-block
		div(class="wow fadeIn" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 3.2}s`) 
		+e.main.container
			//- +e.top-text Цифровизируйся с&nbsp;Datex
			h1 
				span Автоматизация
				br
				| 
				| вашего бизнеса на базе
				| 
				+icon('1c')
			+e.sub-text от&nbsp;надежной проектной команды
			+e.btn.btn-primary.popup-with-move-anim(href="#modal-call" data-title="оставить заявку" data-order="оставить заявку"   data-btn="оставить заявку") оставить заявку
		.container.mt-a
			picture
				source( srcset="img/head-img-new.png" media="(min-width: 992px)")
				// тут сделай кроп шириной   992px или чуть больше, какой там стандартный
				source( srcset="img/head-img-new.png" media="(min-width: 576px)")
				// тут сделай кроп шириной   576px или чуть больше, какой там стандартный
				img.object-fit-js.res-i(src="img/head-img-new.png", alt="")  
		//- +e.foot(class="wow fadeIn" data-wow-duration=`${dur * 1}s` data-wow-delay=`${delay * 3}s`) 
		//- 	.container
		//- 		.row
		//- 			.col-sm
		//- 				+e.logo
		//- 					+icon('1c')
		//- 					| Сертифицированные партнеры 1С
		//- 			+e.col.col-auto
		//- 				+e.scroll-link.scroll-link(href="#s-competences")
		//- 					+icon('mouse')
		//- 			.col
					
		
		//- 	.row
	// end header-block