mixin s-consultation()
	// start s-consultation
	+b.SECTION.s-consultation.section.block-with-lazy#s-consultation&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-consultation
				
			.row
	// end s-consultation