.s-catalog-slider {
	padding-top: rem(35) !important;
	padding-bottom: 0 !important;
	.section-title{
		padding: 0;
		margin-bottom: rem(38);
	}
	&__slide{
		height: 100%;
	}
	.breadcrumb{
		margin-bottom: rem(3);
	}
	&__main-block{
		padding: rem(40) 0 rem(105);
		// background-color: #f5c33e;
	}
	&__slider-nav{
		position: relative;
		max-width: rem(1820);
		margin: 0 auto; 
	}
	&__slider-wrapper{
		position: relative;
	}
	.swiper-pagination{
		// top: rem(5);
		margin-top: rem(20);
	}
	.cat-slider-nav{
		z-index: 2;
		position: absolute;
		@include a-cent(y);
		width: rem(60);
		height: rem(60);
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		outline: none;
		.icon{
			font-size: rem(15);
			color: $primary;
		}
	}
	&__slider-prev{
		left: 0;
	}
	&__slider-next{
		right: 0;
	}
	&__slider-title{
		color: $body-color;
		font-size: rem(28);
		margin-bottom: rem(25);
	}
	&__item{
		background-color: #fff;
		padding: rem(20) rem(30);
		display: flex;
		align-items: center;
		&-title{
			font-size: rem(16);
			font-weight: 500;
			margin-bottom: rem(5);
			a{
				color: $body-color;
				line-height: $h5-font-size;
				border-bottom: 1px solid #C5C5C5;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&-text{
			margin-bottom: rem(15);
			color: #6f7378;
			font-size: $small;
			font-weight: 400;
		}
		&-price{
			border-radius: 3px;
			background-color: #fdd058;
			display: inline;
			padding: rem(4);
			font-size: $small;
			font-weight: 500;
		}
	}
	&__img-wrapper{
		margin-right: rem(20);
	}
	&__svg-wrapper{
		width: rem(40);
		height: rem(40);
		background-color: $primary;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: rem(19);
		flex-shrink: 0;
	}
	&__slider{
		display: flex;
	}
	&__slide{
		&:not(:last-child){
			margin-right: rem(20);
		}
	}
	#catalog-slider-2--js{
		.s-catalog-slider__item{
			padding: rem(20);
		}
		.s-catalog-slider__item-title{
			margin: 0;
			a{
				line-height: 1;
				border-bottom: none;
				background: #000;
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}