mixin s-catalog-slider()
	// start s-catalog-slider
	+b.SECTION.s-catalog-slider.section.block-with-lazy#s-catalog-slider&attributes(attributes)
		+b.section-title.text-center
			.container
				+breadcrumb("Главная","Программы «1С»")
				h2 Программы «1С»
		+e.main-block
			
				

	// end s-catalog-slider