.s-catalog-slider {
	padding-bottom: 0;
	.section-title{
		padding: 0;
		margin-bottom: rem(40);
	}
	&__main-block{
		padding: rem(50) 0;
		// background-color: #f5c33e;
	}
	&__slider-wrapper{
		position: relative;
	}
	.swiper-pagination{
		margin-top: rem(20);
	}
	.cat-slider-nav{
		position: absolute;
		@include a-cent(y);
		width: rem(60);
		height: rem(60);
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		.icon{
			font-size: rem(15);
			color: $primary;
		}
		&:focus{
			border: none;
		}
	}
	&__slider-prev{
		left: rem(50);
	}
	&__slider-next{
		right: rem(50);
	}
	&__slider-title{
		color: $body-color;
		font-size: rem(28);
		margin-bottom: rem(30);
	}
	&__item{
		background-color: #fff;
		padding: rem(30);
		display: flex;
		align-items: center;
		&-title{
			font-size: rem(16);
			font-weight: 500;
			margin-bottom: rem(5);
			a{
				color: $body-color;
				line-height: $h5-font-size;
				border-bottom: 1px solid #C5C5C5;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&-text{
			margin-bottom: rem(10);
			color: #6f7378;
			font-size: $small;
			font-weight: 400;
		}
		&-price{
			border-radius: 3px;
			background-color: #fdd058;
			display: inline;
			padding: rem(5);
			font-size: $small;
			font-weight: 500;
		}
	}
	&__img-wrapper{
		margin-right: rem(20);
	}
	&__slider{
		display: flex;
	}
	&__slide{
		&:not(:last-child){
			margin-right: rem(20);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}