mixin s-catalog-slider()
	// start s-catalog-slider
	+b.SECTION.s-catalog-slider.section.block-with-lazy#s-catalog-slider&attributes(attributes)
		+b.section-title.text-center
			.container
				+breadcrumb("Главная","Программы «1С»")
				h2 Программы «1С»
		+e.main-block.bg-wrap
			+pic("slider-bg","jpg","bg")(class="picture-bg")
			+e.slider-title.text-center Популярные программы «1С»
			+e.slider-wrapper
				+e.slider-prev.cat-slider-nav
					+icon("slider-prev")
				+e.slider-next.cat-slider-nav
					+icon("slider-next")
				.container
					+e.slider.swiper-container#catalog-slider--js
						.swiper-wrapper
							mixin catalog-slider
								+e.slide.swiper-slide
									+e.item
										+e.img-wrapper
											img(src="img/product-box.png" alt="#")
										+e.item-descr
											+e.item-title 
												a(href="#") 1С:Управление нашей фирмой
											+e.item-text Автоматизация процессов управления на предприятиях до&nbsp;20 мест.
											+e.item-price 33 600
							+catalog-slider
							+catalog-slider
							+catalog-slider
							+catalog-slider
							+catalog-slider


			
				

	// end s-catalog-slider