mixin s-artical-foot()
	// start s-artical-foot
	+b.SECTION.s-artical-foot.section#s-artical-foot&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-artical-foot
				
			.row
	// end s-artical-foot