mixin s-search-line()
	// start s-search-line
	+b.SECTION.s-search-line.section.block-with-lazy#s-search-line&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-search-line
				
			.row
	// end s-search-line