mixin s-filter()
	button.s-filter__btn.s-filter__btn--js.btn.btn-block.btn-primary.d-lg-none.mb-3.ttu(type='button')
		strong.d-none Свернуть фильтр
		strong Фильтр товаров  
	.s-filter-wrap.d-lg-flex
		// start s-filter
		mixin in-c3(a, b)
			label.custom-input.woof_term_89
				input#woof_89_5dedfb8190066.woof_checkbox_term.woof_checkbox_term_89(type='checkbox',   data-tax='product_tag', name='atol', data-term-id='89', value='89')
				label.woof_checkbox_label(for='woof_89_5dedfb8190066')
					= b
					span.woof_checkbox_count (0)
				input(type='hidden', value='Атол', data-anchor='woof_n_product_tag_atol')
		+b.s-filter&attributes(attributes) 
			mixin range(c1, c2)
				.range-wrap.price_slider_amount
					.d-flex
						label.col-6 
							strong от 
							+b.INPUT.range-result--minus.minus.form-control(type="text")
						label.col-6
							strong до 
							+b.INPUT.range-result--plus.plus.form-control(type="text")
					input.range-slider.slider-js(type='text'  data-min= c1  data-max= c2)

			mixin  group(t)
				+e.group.small
					+e.title.small.showhide.active= t 
					.showhide-all
						block
				// +e.group
			+group('Подкатегории')
				-
					var list = ["1D сканеры", "2D сканеры штрих-кода для ЕГАИС и маркировки", "Ручной сканер штрих-кода", "Стационарные сканеры штрих кода", "USB-сканер штрих-кода", "Стационарные сканеры штрих кода", "USB-сканер штрих-кода"]
				each item in list
					+in-c2("checkbox",item)
					+in-c3("checkbox",item)
		
			+group('Бренды')
				-
					var list = ["Cipher Lab (3)", " Datalogic (4)", " Honeywell (1)", " Honeywell-Metrologic (18)", " Opticon (1)", " Honeywell-Metrologic (18)", " Opticon (1)"]
				each item in list
					+in-c2("checkbox",item)
			+group('Цена')
				+range("1000","90000")
			+group('Мощность (кВт)')
				+range("1855","2351")
			+e.group
				+e.btn-wrap
					+e.BUTTON.btn.btn-primary(type="button") Применить 
					+e.BUTTON.btn--outline.btn-outline-secondary(type="button") Сбросить фильтр

		// end s-filter