.s-doc {
	@include media-breakpoint-up(lg) {
		text-align: left;
		padding-bottom: 0;
	}
	padding-bottom: rem(100);
	text-align: center;
	background-color: $primary;
	color: #ffffff;
	position: relative;
	overflow: hidden;z-index: 2;
	
	.section-title{
		padding-bottom: em(7);
	}
	h2{
		margin-bottom: rem(30);
	}
	h4{
		font-weight: normal;
		max-width: rem(540);
		line-height: 1.42;
		@include media-breakpoint-down(md) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	a{
		span{
			opacity: 0.5;
			margin-left: rem(14);
		}
	}
	&__img-wrap{
		display: inline-block;
		box-shadow: 11px 11px 35px rgba(0, 0, 0, 0.6);
		margin-top: rem(-21);
		max-width: rem(436);
		@include media-breakpoint-down(xs) {
			display: none;
		} 
		@include media-breakpoint-down(md) {
			max-width: rem(406);
			@include a-cent(x);
			top: rem(80);
			z-index: -1;
			opacity: 0.1;
		}
	}
	&__btn{
		@extend .btn-lg;
		@include media-breakpoint-up(lg) {

			min-width: rem(355);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.pos-s{
	position: static !important;
}