 .s-category {
 	padding-top: rem(30);

 	&__head {
 		font-size: $small;
 		margin-top: rem(18);
 		padding-bottom: rem(32);

 		.woocommerce-ordering {
 			display: flex;
 			align-items: center;
 		}

 		select {
 			@extend .form-control;
 		}

 		.row {
 			align-items: center;
 		}

 		span {
 			font-weight: 500;
 			cursor: pointer;
 			border-bottom: 1px solid $gray;
 			@include mt;

 			&:not(.text-primary):hover {
 				border-color: transparent;
 			}

 			&.text-primary {
 				border-color: $primary;
 			}
 		}

 		.col-auto {
 			padding-bottom: rem(10);
 		}
 	}

 	&__main-col {
 		@include media-breakpoint-up(xxl) {
 			padding-left: rem(40);
 		}

 	}

 	.woocommerce-pagination {
 		@include media-breakpoint-up(lg) {

 			max-width: 75%;
 			margin-left: auto;
 			margin-right: 0;
 		}
 	}

 	.woocommerce-pagination,
 	.pagination-wrapper {
 		margin-top: rem(50);

 		span.page-numbers,
 		a.page-numbers {
 			background-color: #ffffff;

 			&:hover {
 				background-color: transparent;
 			}
 		}
 	}


 	@include media-breakpoint-up(xl) {}

 	@include media-breakpoint-up(lg) {}

 	@include media-breakpoint-up(md) {}

 	@include media-breakpoint-up(sm) {}

 	@include media-breakpoint-up(xs) {}

 	//
 	@include media-breakpoint-between(md, xl) {}


 	//
 	@include media-breakpoint-only(xs) {}

 	@include media-breakpoint-only(sm) {}

 	@include media-breakpoint-only(md) {}

 	@include media-breakpoint-only(lg) {}

 	@include media-breakpoint-only(xl) {}

 	//
 	@include media-breakpoint-down(xl) {}

 	@include media-breakpoint-down(lg) {}

 	@include media-breakpoint-down(md) {}

 	@include media-breakpoint-down(sm) {}

 	@include media-breakpoint-down(xs) {}

 }

 .s-category-item {
 	&__row {
 		@include roww(10);
 	}

 	background-color: #ffffff;
 	padding: rem(29);
 	border-bottom: 1px solid #e3e6ea;
 	@include mt;
 	position: relative;

 	&:hover {
 		z-index: 10;
 		box-shadow: 0 10px 15px rgba(41, 41, 41, 0.1);
 	}

 	&__title {
 		padding-bottom: rem(19);

 		a {
 			color: $body-color;
 			font-size: $em-base;
 			font-weight: 500;
 			line-height: 1.22;
 			border-bottom: 1px solid #e3e6ea;
 			text-decoration: none !important;

 			&:hover {
 				color: $primary;
 				border-color: $primary;
 			}
 		}
 	}

 	&__img-wrap {
 		text-align: center;
 		display: block;

 		@include media-breakpoint-up(md) {
 			margin-bottom: 0;
 		}

 		margin-bottom: rem(10);
 	}

 	img {
 		max-width: rem(140);
 	}

 	&__caption {
 		color: $gray;
 		font-size: $small;
 		line-height: 1.71;
 		max-width: rem(632);
 		margin-bottom: rem(15);
 	}

 	&__price-wrap {
 		font-size: rem(16);

 		@include media-breakpoint-only(sm) {
 			padding-left: rem(180);
 		}

 		@include media-breakpoint-up(sm) {

 			text-align: left;
 		}

 		@include media-breakpoint-up(md) {
 			margin-bottom: 0;
 		}

 		margin-bottom: rem(15);
 		text-align: center;

 		.text-gray {
 			margin-right: rem(10);
 		}

 		.amount {
 			font-weight: bold;
 		}
 	}

 	&__label {
 		display: inline-block;
 		text-align: center;
 		color: #ffffff;
 		font-size: rem(12px);
 		font-weight: 700;
 		line-height: 1.83;
 		padding: rem(1) rem(11);
 		border-radius: 3px;
 		margin-bottom: rem(17);
 	}

 	&__btn-wrap {
 		@include roww(8);

 		@include media-breakpoint-up(lg) {

 			margin-left: rem(-20);
 		}

 	}

 	&__foot {
 		align-items: center;
 	}

 	&__btn {
 		@extend .btn;
 		@extend .btn-block;
 		font-weight: 500;
 		font-size: rem(16);
 		padding: rem(14) rem(10);

 		&.btn-primary {
 			padding: calc(#{rem(14)} + 2px) rem(10);

 			// border: 2px solid $primary;
 		}

 		@include media-breakpoint-up(md) {
 			margin-bottom: 0;
 		}

 		margin-bottom: rem(20);

 		&--outline {
 			@extend .btn-outline-secondary;
 			// &:not(:hover) {
 			// 	background-color: transparent;
 			// 	border-color: $secondary;
 			// 	border: 2px solid $secondary;
 			// 	color: #6f7378 !important;
 			// }
 		}
 	}
 }

 .strike {
 	text-decoration: line-through;
 }