.s-segments {
	// background-color: $body-color;
		@include media-breakpoint-up(xl) {
		padding-top: rem(85);
	}
	.section-title{
		text-align: center;
		// padding-bottom: rem(35);
		h2{
			padding-bottom: rem(0);
			margin-bottom: rem(10);
		}
		@include media-breakpoint-up(lg) {
			// text-align: left;
			padding-bottom: rem(9);
		}
		text-align: center;
	}
	&__text{ 
		text-align: center;
		@extend .h5;
		line-height: 1.8;
		max-width: rem(1200);
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg) {
			 
			// max-width: rem(1200);
			margin-bottom: rem(35);
		}
		margin-bottom: rem(38);
		text-align: center;
	}
	position: relative;
	z-index: 2;
	// color: #ffffff;
	padding-bottom: rem(70);
 
	ul{
		@extend .row;
		list-style-type: none;
		// justify-content: space-between;
		// justify-content: space-around;
		justify-content: center;
		picture{
			// position: 0;
			opacity: 0 !important;
		}
		@include media-breakpoint-up(lg) {

			// max-width: 650px;
		}
	}
	counter-reset: num;
 
	li{
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
		display: block;
		@extend .col-xl-2; 
		@extend .col-lg-3; 
		@extend .col-sm-4; 
		@extend .col-6; 
		@include media-breakpoint-up(xl) {

			// max-width: 180px;
		}
		// max-width: (100% / 3); 
		@include media-breakpoint-up(lg) {
			
		}
		margin-bottom: em(35);
			 
		strong{
			font-weight: 900;
			max-width: rem(310);
			display: block;
			max-width: rem(180px);
			margin-left: auto;
			margin-right: auto;
			line-height: 1.44;
		}
		&::before {
			content: '0'counter(num);
			counter-increment: num;
			font-weight: 900;
			// display: block;
			@include rfs(rem(40));
			color: #cfd2d5;
			display: inline-block;
			border-bottom: 2px solid $primary;
			min-width: rem(52);
			padding-bottom: em(6);
			margin-bottom: em(10);
		}
		&:nth-child(n + 10)::before{
			content:  counter(num);
			
		}
		 

	}
	&__col{
		@include media-breakpoint-up(lg) {

			padding-left: 0;
			transform: translateX(-15px);
			padding-top: rem(32);
		} 
		// margin-left: rem(-10);
	}


	&__btn{
		width: rem(271);
		margin-bottom: rem(30);
	}
 
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.pos-st{
position: static !important;
}

.tabs2,
.tabs{
	&__caption{

		margin-left: auto;
		margin-right: auto;
		max-width: rem(546);
	}
}